In [2]:
import pandas as pd

# Cargar un archivo CSV en un DataFrame
df1 = pd.read_csv('registros_titulos.csv',low_memory=False)
df2 = pd.read_csv('catastro_carreras_20241009.csv',low_memory=False)

# Función para imprimir los shape de todos los df en memoria

In [6]:
import pandas as pd

def print_df_shapes():
    # Obtener todos los nombres de los DataFrames en memoria
    df_names = [name for name in globals() if isinstance(globals()[name], pd.DataFrame)]

    # Iterar sobre los nombres de los DataFrames y imprimir su shape
    for name in df_names:
        df = globals()[name]
        print(f"Shape del DataFrame {name}: {df.shape}")

# Función para imprimir los valores únicos de todos los df

In [9]:
import pandas as pd

def print_unique_values():
    # Obtener todos los nombres de los DataFrames en memoria
    df_names = [name for name in globals() if isinstance(globals()[name], pd.DataFrame)]

    # Iterar sobre los nombres de los DataFrames y imprimir los valores únicos de cada columna
    for name in df_names:
        df = globals()[name]
        unique_counts = df.nunique()
        print(f"Valores únicos del DataFrame {name}:")
        print(unique_counts)
        print()

# Función de limpieza

In [7]:
pip install unidecode

Requirement already satisfied: unidecode in c:\users\gimen\anaconda3\envs\pruebas\lib\site-packages (1.3.8)
Note: you may need to restart the kernel to use updated packages.

In [8]:
import unidecode
import re

# Función para limpiar y estandarizar los nombres
def clean_and_standardize(name):
    if isinstance(name, str):
        # Eliminar espacios en blanco al inicio y al final
        name = name.strip()
        # Convertir a minúsculas
        name = name.lower()
        # Eliminar acentos
        name = unidecode.unidecode(name)
        # Eliminar comillas simples, dobles, guiones, barras, puntos, dos puntos, paréntesis y comas
        
        name = re.sub(r"['\":(),.-]", "", name)


        # Eliminar dobles espacios en el medio de los nombres
        name = re.sub(r'\s+', ' ', name)
    return name
# Diccionario ampliado de abreviaturas comunes en el contexto educativo
ABREVIATURAS = {
    "dr": "doctor",
    "dra": "doctora",
    "gral": "general",
    "cnel": "coronel",
    "tte": "teniente",
    "tec": "tecnico",
    "mcal": "mariscal",
    "educ": "educacion",
    "inst": "instituto",
    "nac": "nacional",
    "dir": "direccion",
    "prof": "profesor",
    "priv": "privado",
    "reg": "regional",
    "univ": "universidad",
    "esc": "escuela",
    "adm": "administracion",
    # Agrega más términos según las necesidades específicas del dataset
}

def expand_abbreviations(name):
    # Reemplazo de abreviaturas por sus equivalentes completos
    for abbr, full in ABREVIATURAS.items():
        name = re.sub(rf"\b{abbr}\b", full, name)
    return name

# Aplicar limpieza a todos los campos

In [10]:
from tqdm import tqdm

print("valores únicos antes de la limpieza")
print_unique_values()

# Aplicar la función de limpieza a todos los valores de df1
tqdm.pandas(desc="Limpiando df1")
df1 = df1.map(clean_and_standardize)

# Expandir abreviaturas solo en columnas de tipo string
tqdm.pandas(desc="expandiendo abreviaturas en df1")
df1[df1.select_dtypes(include="object").columns] = df1.select_dtypes(include="object").map(
    lambda x: expand_abbreviations(x) if isinstance(x, str) else x
)

# Aplicar la función de limpieza a todos los valores de df2
tqdm.pandas(desc="Limpiando df2")
df2 = df2.map(clean_and_standardize)

# Expandir abreviaturas solo en columnas de tipo string
tqdm.pandas(desc="expandiendo abreviaturas en df2")
df2[df2.select_dtypes(include="object").columns] = df2.select_dtypes(include="object").map(
    lambda x: expand_abbreviations(x) if isinstance(x, str) else x
)

print("valores únicos después de la limpieza")
print_unique_values()

valores únicos antes de la limpieza
Valores únicos del DataFrame df1:
anio                       13
mes                        12
documento              407403
nombre_completo        406752
carrera_id               1752
carrera                  1751
titulo_id                 701
titulo                    692
numero_resolucion       87612
fecha_resolucion         2711
tipo_institucion_id         5
tipo_institucion            5
institucion_id            474
institucion               452
gobierno_actual             2
sexo                        2
dtype: int64

Valores únicos del DataFrame df2:
nombre_institucion                  442
codigo_institucion                  448
tipo_institucion                      5
tipo_gestion                          3
codigo_departamento                  18
departamento                         18
codigo_distrito                      29
distrito                            179
codigo_establecimiento             1208
establecimiento                    1174
carrera_institucion_id            27359
codigo_oferta                      1537
codigo_carrera                     2833
denominacion_carrera               2833
denominacion_titulo                1071
nivel_titulacion                     12
enfasis_id                          232
enfasis_carrera                     232
modalidad_asistencia                  4
clasificacion_campo_detallado        70
clasificacion_campo_especifico       27
clasificacion_campo_amplio           11
activa                                2
dtype: int64

valores únicos después de la limpieza
Valores únicos del DataFrame df1:
anio                       13
mes                        12
documento              406360
nombre_completo        405670
carrera_id               1752
carrera                  1698
titulo_id                 701
titulo                    662
numero_resolucion       87612
fecha_resolucion         2711
tipo_institucion_id         5
tipo_institucion            5
institucion_id            474
institucion               389
gobierno_actual             2
sexo                        2
dtype: int64

Valores únicos del DataFrame df2:
nombre_institucion                  427
codigo_institucion                  448
tipo_institucion                      5
tipo_gestion                          3
codigo_departamento                  18
departamento                         18
codigo_distrito                      29
distrito                            179
codigo_establecimiento             1208
establecimiento                    1159
carrera_institucion_id            27359
codigo_oferta                      1537
codigo_carrera                     2833
denominacion_carrera               2742
denominacion_titulo                1006
nivel_titulacion                     12
enfasis_id                          232
enfasis_carrera                     232
modalidad_asistencia                  4
clasificacion_campo_detallado        70
clasificacion_campo_especifico       27
clasificacion_campo_amplio           11
activa                                2
dtype: int64

# MAYUSCULAS

In [14]:
# Convertir todos los textos a mayúsculas en df1 y df2
df1 = df1.applymap(lambda x: x.upper() if isinstance(x, str) else x)
df2 = df2.applymap(lambda x: x.upper() if isinstance(x, str) else x)

# Ahora, revisa si se han convertido correctamente
print(df1.head())
print(df2.head())

C:\Users\gimen\AppData\Local\Temp\ipykernel_1904\1068132255.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df1 = df1.applymap(lambda x: x.upper() if isinstance(x, str) else x)

   anio  mes documento                    nombre_completo  carrera_id  \
0  2012   12   4385636         AIDA LUZ MARTINEZ MARTINEZ         287
1  2012   12   3624681  CRISTINA ELIZABETH GAONA GONZALEZ         111
2  2012   12   2537752         LILIEN RAQUEL PRIETO ARMOA         111
3  2012   12   1843924  LOURDES ISABEL ZEBALLOS DE SURIAN          43
4  2012   12   1417764             MIRTA ELIZABETH CUENCA         111

                                 carrera  titulo_id        titulo  \
0  EDUCACION BILINGUE CASTELLANO GUARANI        791    PROFESOR/A
1                             ENFERMERIA        792  LICENCIADO/A
2                             ENFERMERIA        792  LICENCIADO/A
3         CIENCIAS CONTABLES Y AUDITORIA        792  LICENCIADO/A
4                             ENFERMERIA        792  LICENCIADO/A

  numero_resolucion fecha_resolucion  tipo_institucion_id    tipo_institucion  \
0              1792         20121228                   17  INSTITUTO SUPERIOR
1              1719         20121220                   16         UNIVERSIDAD
2              1689         20121218                   16         UNIVERSIDAD
3              1739         20121221                   16         UNIVERSIDAD
4              1772         20121227                   17  INSTITUTO SUPERIOR

   institucion_id                                        institucion  \
0         1102311  INSTITUTO SUPERIOR EN CIENCIAS LINGUISTICAS ID...
1         1101861                       UNIVERSIDAD AUTONOMA DEL SUR
2         1101714  UNIVERSIDAD CATOLICA NUESTRA SENORA DE LA ASUN...
3          991607                     UNIVERSIDAD PRIVADA DEL GUAIRA
4         1102522            INSTITUTO SUPERIOR PROFESIONAL AVANZADO

  gobierno_actual   sexo
0              NO  MUJER
1              NO  MUJER
2              NO  MUJER
3              NO  MUJER
4              NO  MUJER
                                  nombre_institucion codigo_institucion  \
0             INSTITUTO TECNICO SUPERIOR DEL ROSARIO            *326333
1          INSTITUTO TECNICO SUPERIOR DE AERONAUTICA            *319210
2  INSTITUTO DE FORMACION DOCENTE NUESTRA SENORA ...            *319186
3                                UNIVERSIDAD DEL SOL            *316825
4                   UNIVERSIDAD NACIONAL DE ASUNCION            *316794

                 tipo_institucion tipo_gestion  codigo_departamento  \
0      INSTITUTO TECNICO SUPERIOR      PRIVADO                    7
1      INSTITUTO TECNICO SUPERIOR      OFICIAL                   11
2  INSTITUTO DE FORMACION DOCENTE      OFICIAL                    0
3                     UNIVERSIDAD      PRIVADO                    0
4                     UNIVERSIDAD      OFICIAL                   11

  departamento  codigo_distrito     distrito codigo_establecimiento  \
0       ITAPUA             17.0     OBLIGADO                *235201
1      CENTRAL              9.0        LUQUE                *227025
2      CAPITAL              0.0     ASUNCION                *227001
3      CAPITAL              0.0     ASUNCION                *210069
4      CENTRAL             14.0  SAN LORENZO                *231355

                                     establecimiento  ...  \
0             INSTITUTO TECNICO SUPERIOR DEL ROSARIO  ...
1          INSTITUTO TECNICO SUPERIOR DE AERONAUTICA  ...
2  INSTITUTO DE FORMACION DOCENTE NUESTRA SENORA ...  ...
3                       UNIVERSIDAD DEL SOL ASUNCION  ...
4             UNIVERSIDAD NACIONAL DE ASUNCION FACEN  ...

                     denominacion_carrera  \
0                            AGRONEGOCIOS
1    INTERPRETE DE INSTRUMENTOS MUSICALES
2        PROFESORADO EN EDUCACION INICIAL
3          DOCENCIA EN EDUCACION SUPERIOR
4  CIENCIAS FISICAS DE LA RADIOPROTECCION

                                 denominacion_titulo  \
0                   TECNICO SUPERIOR EN AGRONEGOCIOS
1  TECNICO SUPERIOR EN INTERPRETE DE INSTRUMENTOS...
2                      PROFESOR DE EDUCACION INICIAL
3                                       ESPECIALISTA
4                                           MAGISTER

                                    nivel_titulacion enfasis_id  \
0  EDUCACION DE PREGRADO EDUCACION TECNICA SUPERI...        NaN
1  EDUCACION DE PREGRADO EDUCACION TECNICA SUPERI...        NaN
2    EDUCACION DE PREGRADO FORMACION DOCENTE INICIAL        NaN
3              EDUCACION DE POSGRADO ESPECIALIZACION        NaN
4                     EDUCACION DE POSGRADO MAESTRIA        NaN

  enfasis_carrera modalidad_asistencia   clasificacion_campo_detallado  \
0             NaN           PRESENCIAL  PRODUCCION AGRICOLA Y GANADERA
1             NaN           PRESENCIAL        MUSICA Y ARTES ESCENICAS
2             NaN                  NaN                             NaN
3             NaN           PRESENCIAL        CIENCIAS DE LA EDUCACION
4             NaN           PRESENCIAL                          FISICA

  clasificacion_campo_especifico  \
0                    AGRICULTURA
1                          ARTES
2                            NaN
3                      EDUCACION
4               CIENCIAS FISICAS

                     clasificacion_campo_amplio activa
0  AGRICULTURA SILVICULTURA PESCA Y VETERINARIA     SI
1                           ARTES Y HUMANIDADES     SI
2                                           NaN     NO
3                                     EDUCACION     SI
4  CIENCIAS NATURALES MATEMATICAS Y ESTADISTICA     SI

[5 rows x 23 columns]

C:\Users\gimen\AppData\Local\Temp\ipykernel_1904\1068132255.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df2 = df2.applymap(lambda x: x.upper() if isinstance(x, str) else x)

# Trabajar con valores únicos

In [17]:
# Obtener valores únicos y ordenados alfabéticamente de las columnas de instituciones en ambos DataFrames
unique_institutions_df1 = pd.DataFrame(sorted(df1['institucion'].unique()), columns=['institucion'])
unique_institutions_df2 = pd.DataFrame(sorted(df2['nombre_institucion'].unique()), columns=['nombre_institucion'])

# Exportar a archivos Excel
unique_institutions_df1.to_excel("unique_institutions_df1.xlsx", index=False)
unique_institutions_df2.to_excel("unique_institutions_df2.xlsx", index=False)

print("Archivos exportados: 'unique_institutions_df1.xlsx' y 'unique_institutions_df2.xlsx'")

Archivos exportados: 'unique_institutions_df1.xlsx' y 'unique_institutions_df2.xlsx'

In [18]:
import re
import unidecode
from fuzzywuzzy import fuzz, process


# Configuración de coincidencia aproximada con umbral de similitud
similarity_threshold = 90  # Nivel de similitud; puedes ajustar este valor según los resultados

# Encontrar coincidencias aproximadas
def find_fuzzy_matches(df1, df2, col1, col2, threshold):
    matches = []
    for name in df1[col1]:
        match = process.extractOne(name, df2[col2], scorer=fuzz.ratio)
        if match and match[1] >= threshold:
            matches.append((name, match[0]))
        else:
            matches.append((name, "#N/D"))
    return matches

# DataFrames con coincidencias
coincidencias_df1 = pd.DataFrame(find_fuzzy_matches(unique_institutions_df1, unique_institutions_df2, 'institucion', 'nombre_institucion', similarity_threshold), columns=['institucion', 'coincidencia_en_nombre'])
coincidencias_df2 = pd.DataFrame(find_fuzzy_matches(unique_institutions_df2, unique_institutions_df1, 'nombre_institucion', 'institucion', similarity_threshold), columns=['nombre_institucion', 'coincidencia_en_institucion'])

# Exportar resultados a Excel
coincidencias_df1.to_excel('coincidencias_df1.xlsx', index=False)
coincidencias_df2.to_excel('coincidencias_df2.xlsx', index=False)

In [19]:
print_df_shapes()

Shape del DataFrame df1: (553407, 16)
Shape del DataFrame df2: (27394, 23)
Shape del DataFrame unique_institutions_df1: (389, 1)
Shape del DataFrame unique_institutions_df2: (427, 1)
Shape del DataFrame coincidencias_df1: (389, 2)
Shape del DataFrame coincidencias_df2: (427, 2)

In [20]:
import re
import unidecode
from fuzzywuzzy import fuzz, process
import pandas as pd
from tqdm import tqdm

# Umbral de similitud (ajústalo según los resultados que obtengas)
similarity_threshold = 85  

# Función para realizar coincidencias complejas con columna de nombre unificado
def complex_fuzzy_matching(df1, df2, col1, col2, threshold):
    matches = []
    for name in tqdm(df1[col1], desc="Comparando instituciones..."):
        # Encuentra la coincidencia más cercana en el otro DataFrame usando `token_set_ratio` y `partial_ratio`
        match = process.extractOne(name, df2[col2], scorer=fuzz.token_set_ratio)
        
        if match and match[1] >= threshold:
            refined_score = fuzz.partial_ratio(name, match[0])
            # Asegúrate de que ambas puntuaciones cumplan el umbral o alguna esté cerca
            if refined_score >= threshold or (refined_score + match[1]) / 2 >= threshold:
                unified_name = match[0]  # Aquí puedes decidir qué nombre usar como unificado
                matches.append((name, match[0], unified_name))  # Añade la tercera columna con el nombre unificado
            else:
                matches.append((name, "#N/D", "#N/D"))  # No alcanzó el umbral refinado
        else:
            matches.append((name, "#N/D", "#N/D"))  # No alcanzó ningún umbral

    return matches

# Aplica la función y guarda los resultados en DataFrames
coincidencias_df1 = pd.DataFrame(
    complex_fuzzy_matching(unique_institutions_df1, unique_institutions_df2, 'institucion', 'nombre_institucion', similarity_threshold),
    columns=['institucion', 'coincidencia_en_nombre', 'nombre_unificado']
)

coincidencias_df2 = pd.DataFrame(
    complex_fuzzy_matching(unique_institutions_df2, unique_institutions_df1, 'nombre_institucion', 'institucion', similarity_threshold),
    columns=['nombre_institucion', 'coincidencia_en_institucion', 'nombre_unificado']
)

# Exporta los resultados a Excel
coincidencias_df1.to_excel('coincidencias_complejas_df1.xlsx', index=False)
coincidencias_df2.to_excel('coincidencias_complejas_df2.xlsx', index=False)

print("Archivos exportados: 'coincidencias_complejas_df1.xlsx' y 'coincidencias_complejas_df2.xlsx'")

Comparando instituciones...: 100%|██████████| 389/389 [00:03<00:00, 123.23it/s]
Comparando instituciones...: 100%|██████████| 427/427 [00:03<00:00, 128.81it/s]

Archivos exportados: 'coincidencias_complejas_df1.xlsx' y 'coincidencias_complejas_df2.xlsx'

# Reemplazando en ambos dataset por nombre unificado de institucion

In [22]:


import numpy as np

# Merge de los nombres unificados en df1
df1 = df1.merge(coincidencias_df1[['institucion', 'nombre_unificado']], on='institucion', how='left')

# Reemplaza los nombres en df1 por el nombre unificado, pero sólo si no es #N/D y no es NaN
df1['institucion'] = df1.apply(lambda x: x['nombre_unificado'] if pd.notna(x['nombre_unificado']) and x['nombre_unificado'] != '#N/D' else x['institucion'], axis=1)

# Elimina la columna 'nombre_unificado' de df1 si ya no es necesaria
df1 = df1.drop(columns=['nombre_unificado'])

# Merge de los nombres unificados en df2 (utilizando 'coincidencia_en_nombre' para buscar)
df2 = df2.merge(coincidencias_df1[['coincidencia_en_nombre', 'nombre_unificado']], 
                left_on='nombre_institucion', right_on='coincidencia_en_nombre', how='left')

# Reemplaza los nombres en df2 por el nombre unificado, pero sólo si no es #N/D y no es NaN
df2['nombre_institucion'] = df2.apply(lambda x: x['nombre_unificado'] if pd.notna(x['nombre_unificado']) and x['nombre_unificado'] != '#N/D' else x['nombre_institucion'], axis=1)

# Elimina las columnas innecesarias ('nombre_unificado' y 'coincidencia_en_nombre')
df2 = df2.drop(columns=['nombre_unificado', 'coincidencia_en_nombre'])

# TIPO DE INSTITUCION LIMPIEZA

In [538]:
# Función para corregir los tipos de institución según el nombre
def corregir_tipo_institucion(nombre, tipo_actual):
    # Asegurarse de que el nombre es una cadena de texto
    if isinstance(nombre, str):
        nombre = nombre.upper()
    else:
        nombre = ""  # Convertir NaN o valores no string en cadena vacía

    # Caso especial: INSTITUTO DE FORMACION TECNICA SUPERIOR INFORTES
    if 'INSTITUTO DE FORMACION TECNICA SUPERIOR INFORTES DEPENDIENTE DE LA UNIVERSIDAD EVANGELICA DEL PARAGUAY' in nombre:
        return 'INSTITUTO TECNICO SUPERIOR'  # Devolver el tipo correcto
        
    if 'INSTITUTO PEDAGOGICO NIHON GAKKO' in nombre:
        return 'INSTITUTO DE FORMACION DOCENTE'
    # Lista de posibles tipos de institución en orden de prioridad
    tipos_institucion = [
        ('INSTITUTO TECNICO SUPERIOR', 'INSTITUTO TECNICO SUPERIOR'),
        ('INSTITUTO SUPERIOR', 'INSTITUTO SUPERIOR'),
        ('INSTITUTO DE FORMACION DOCENTE', 'INSTITUTO DE FORMACION DOCENTE'),
        ('CENTRO REGIONAL DE EDUCACION', 'CENTRO REGIONAL DE EDUCACION'),
        ('UNIVERSIDAD', 'UNIVERSIDAD')
    ]

    # Verificar la primera coincidencia en el nombre
    for tipo, keyword in tipos_institucion:
        if keyword in nombre:
            return tipo  # Devolver el tipo de institución basado en la primera coincidencia

    # Si no hay coincidencias, devolver el tipo actual
    return tipo_actual

# Aplicar la corrección en df1
df1['tipo_institucion_corregido'] = df1.apply(lambda x: corregir_tipo_institucion(x['institucion'], x['tipo_institucion']), axis=1)

# Aplicar la corrección en df2
df2['tipo_institucion_corregido'] = df2.apply(lambda x: corregir_tipo_institucion(x['nombre_institucion'], x['tipo_institucion']), axis=1)

# Reemplazar las columnas originales si todo es correcto
df1['tipo_institucion'] = df1['tipo_institucion_corregido']
df2['tipo_institucion'] = df2['tipo_institucion_corregido']

# Eliminar las columnas temporales
df1.drop(columns=['tipo_institucion_corregido'], inplace=True)
df2.drop(columns=['tipo_institucion_corregido'], inplace=True)

# DUPLICADOS

In [540]:
# Ver el shape de df1 y df2 antes de eliminar duplicados
print("Shape de df1 antes de eliminar duplicados:", df1.shape)
print("Shape de df2 antes de eliminar duplicados:", df2.shape)

# Eliminar duplicados en df1 y df2
df1=df1.drop_duplicates()
df2=df2.drop_duplicates()

# Ver el shape de df1 y df2 después de eliminar duplicados
print("Shape de df1 después de eliminar duplicados:", df1.shape)
print("Shape de df2 después de eliminar duplicados:", df2.shape)

Shape de df1 antes de eliminar duplicados: (553407, 16)
Shape de df2 antes de eliminar duplicados: (27394, 23)
Shape de df1 después de eliminar duplicados: (553407, 16)
Shape de df2 después de eliminar duplicados: (27394, 23)

# TITULOS DOCUMENTOS

## Cantidad de documentos con más de un nombre asociado

In [545]:
df=df1
# Agrupar por 'documento' y contar la cantidad de nombres únicos asociados a cada documento después de la limpieza
conteo_nombres_por_documento_despues = df.groupby('documento')['nombre_completo'].nunique()

# Filtrar los documentos que tienen más de un nombre asociado después de la limpieza
documentos_con_mas_de_un_nombre_despues = conteo_nombres_por_documento_despues[conteo_nombres_por_documento_despues > 1]

# Mostrar la cantidad de documentos con más de un nombre asociado después de la limpieza
cantidad_documentos_con_mas_de_un_nombre_despues = len(documentos_con_mas_de_un_nombre_despues)
print("Cantidad de documentos con más de un nombre asociado después de la limpieza:", cantidad_documentos_con_mas_de_un_nombre_despues)

# Mostrar la lista de documentos con más de un nombre asociado después de la limpieza y la cantidad de nombres diferentes para cada uno
print("\nDocumentos con más de un nombre asociado después de la limpieza y cantidad de nombres diferentes:")
print(documentos_con_mas_de_un_nombre_despues)

# Obtener los nombres asociados a cada documento con más de un nombre después de la limpieza
nombres_por_documento_despues = df[df['documento'].isin(documentos_con_mas_de_un_nombre_despues.index)][['documento', 'nombre_completo']]

# Exportar la lista de documentos con más de un nombre asociado después de la limpieza y los nombres asociados a un archivo Excel
nombres_por_documento_despues.to_excel("nombres_por_documento_despues.xlsx", index=False)

Cantidad de documentos con más de un nombre asociado después de la limpieza: 395

Documentos con más de un nombre asociado después de la limpieza y cantidad de nombres diferentes:
documento
0                 3
000570415LA034    2
0030296990        2
0201442612        2
040916181         2
                 ..
908330            2
91017020275       2
951929            2
979516            2
994421            2
Name: nombre_completo, Length: 395, dtype: int64

## Listar nombres de documentos con mas de un nombre

In [547]:
# Obtener los nombres únicos asociados a cada documento con más de un nombre después de la limpieza y ordenar por documento
nombres_unicos_por_documento_despues = nombres_por_documento_despues.drop_duplicates().sort_values(by='documento')

# Mostrar los nombres únicos asociados a cada documento con más de un nombre después de la limpieza
print("Nombres únicos asociados a cada documento con más de un nombre después de la limpieza:")
print(nombres_unicos_por_documento_despues)

# Exportar los nombres únicos asociados a cada documento con más de un nombre a un archivo Excel, ordenado por documento
nombres_unicos_por_documento_despues.to_excel("nombres_unicos_por_documento_despues.xlsx", index=False)

Nombres únicos asociados a cada documento con más de un nombre después de la limpieza:
             documento                      nombre_completo
13024                0                    ERON PAULO FAVERO
153711               0                 YDALINA SMITH COLMAN
17562                0               KARINA BEATRIZ ESTECHE
360171  000570415LA034           FRANSISCO GASPAR FERNANDES
322172  000570415LA034           FRANCISCO GASPAR FERNANDES
...                ...                                  ...
532080          951929               RAVILLA ALVES DA SILVA
228943          979516  FAUSTO NIELSEN VILLALBA BARRIOCANAL
11153           979516           MARELISA RODRIGUES VILARGA
73027           994421         WALTER ENRIQUE RAMIREZ ROJAS
384720          994421            WAGNER RODRIGUES DA SILVA

[792 rows x 2 columns]

## Detectar similitudes entre los nombres con el mismo documento

In [551]:
import pandas as pd
from difflib import SequenceMatcher
import re

# Cargar el dataframe
dfx = nombres_unicos_por_documento_despues


# Función para calcular la similitud de Levenshtein
def similar(a, b):
    return SequenceMatcher(None, a, b).ratio()

# Función para clasificar nombres
def classify_names(group):
    results = []
    names = group['nombre_completo'].tolist()
    for i in range(len(names)):
        for j in range(i + 1, len(names)):
            similarity = similar(names[i], names[j])
            if similarity > 0.8:  # Umbral de similitud
                results.append((group['documento'].iloc[0], names[i], names[j], 'misma persona'))
            else:
                results.append((group['documento'].iloc[0], names[i], names[j], 'distintas personas'))
    return results

# Aplicar la función a grupos de documentos
results = []
grouped = dfx.groupby('documento')
for name, group in grouped:
    if len(group) > 1:
        results.extend(classify_names(group))

# Convertir los resultados en un DataFrame
result_df = pd.DataFrame(results, columns=['documento', 'nombre1', 'nombre2', 'clasificacion'])

# Guardar los resultados en un archivo Excel
result_df.to_excel('nombres_clasificados.xlsx', index=False)

# Imprimir la cantidad de clasificaciones por tipo
print(result_df['clasificacion'].value_counts())

result_df.head()

clasificacion
distintas personas    282
misma persona         117
Name: count, dtype: int64

,documento,nombre1,nombre2,clasificacion
0,0,ERON PAULO FAVERO,YDALINA SMITH COLMAN,distintas personas
1,0,ERON PAULO FAVERO,KARINA BEATRIZ ESTECHE,distintas personas
2,0,YDALINA SMITH COLMAN,KARINA BEATRIZ ESTECHE,distintas personas
3,000570415LA034,FRANSISCO GASPAR FERNANDES,FRANCISCO GASPAR FERNANDES,misma persona
4,0030296990,CELSO LUIS SOARES POTSCH,CELSO LUIS SOARES POTSH,misma persona

## Unificar datos para tener una lista de personas iguales o distintos

In [554]:
import pandas as pd

# Supongamos que los dataframes ya están cargados como nombres_unicos_por_documento_despues y result_df

# Crear una lista para almacenar los diccionarios
aux_list = []

for index, row in result_df.iterrows():
    aux_list.append({'documento': row['documento'], 'nombre_completo': row['nombre1'], 'clasificacion': row['clasificacion']})
    aux_list.append({'documento': row['documento'], 'nombre_completo': row['nombre2'], 'clasificacion': row['clasificacion']})

# Convertir la lista en un dataframe
aux_df = pd.DataFrame(aux_list)

# Eliminar duplicados
aux_df = aux_df.drop_duplicates()

# Unir nombres_unicos_por_documento_despues con aux_df para agregar la columna de clasificación
merged_df = nombres_unicos_por_documento_despues.merge(aux_df, how='left', left_on=['documento', 'nombre_completo'], right_on=['documento', 'nombre_completo'])

# Verificar el resultado
print(merged_df)

# Guardar el resultado en un archivo de Excel
merged_df.to_excel('nombres_unicos_con_clasificacion.xlsx', index=False)
print("Archivo exportado a 'nombres_unicos_con_clasificacion.xlsx'")

          documento                      nombre_completo       clasificacion
0                 0                    ERON PAULO FAVERO  distintas personas
1                 0                 YDALINA SMITH COLMAN  distintas personas
2                 0               KARINA BEATRIZ ESTECHE  distintas personas
3    000570415LA034           FRANSISCO GASPAR FERNANDES       misma persona
4    000570415LA034           FRANCISCO GASPAR FERNANDES       misma persona
..              ...                                  ...                 ...
787          951929               RAVILLA ALVES DA SILVA  distintas personas
788          979516  FAUSTO NIELSEN VILLALBA BARRIOCANAL  distintas personas
789          979516           MARELISA RODRIGUES VILARGA  distintas personas
790          994421         WALTER ENRIQUE RAMIREZ ROJAS  distintas personas
791          994421            WAGNER RODRIGUES DA SILVA  distintas personas

[792 rows x 3 columns]
Archivo exportado a 'nombres_unicos_con_clasificacion.xlsx'

## Crear id para documentos con mas de un nombre asociado

In [557]:


# Diccionario para contar ocurrencias por documento
counter = {}

# Función para generar el ID según la clasificación
def generar_id(row):
    documento = row['documento']
    clasificacion = row['clasificacion']

    if clasificacion == 'distintas personas':
        if documento not in counter:
            counter[documento] = 1
        else:
            counter[documento] += 1
        return f"{documento}_{counter[documento]}"
    else:
        return documento

# Aplicar la función para generar la columna 'id'
merged_df['id'] = merged_df.apply(generar_id, axis=1)

# Mostrar el dataframe resultante
print(merged_df)
merged_df.to_excel('documentos_duplicados_con_id.xlsx', index=False)

          documento                      nombre_completo       clasificacion  \
0                 0                    ERON PAULO FAVERO  distintas personas
1                 0                 YDALINA SMITH COLMAN  distintas personas
2                 0               KARINA BEATRIZ ESTECHE  distintas personas
3    000570415LA034           FRANSISCO GASPAR FERNANDES       misma persona
4    000570415LA034           FRANCISCO GASPAR FERNANDES       misma persona
..              ...                                  ...                 ...
787          951929               RAVILLA ALVES DA SILVA  distintas personas
788          979516  FAUSTO NIELSEN VILLALBA BARRIOCANAL  distintas personas
789          979516           MARELISA RODRIGUES VILARGA  distintas personas
790          994421         WALTER ENRIQUE RAMIREZ ROJAS  distintas personas
791          994421            WAGNER RODRIGUES DA SILVA  distintas personas

                 id
0               0_1
1               0_2
2               0_3
3    000570415LA034
4    000570415LA034
..              ...
787        951929_2
788        979516_1
789        979516_2
790        994421_1
791        994421_2

[792 rows x 4 columns]

## Agregar el nuevo campo persona_id a todo el dataset, ordenar y exportar

In [560]:
import pandas as pd
from tqdm import tqdm

# Configurar tqdm para que funcione con pandas
tqdm.pandas()

# Crear un backup del DataFrame original
df_backup = df1.copy()

# Hacer un merge entre df y merged_df basado en 'documento' y 'nombre_completo'
df_titulos_v2 = pd.merge(df1, merged_df[['documento', 'nombre_completo', 'id']].progress_apply(lambda x: x), on=['documento', 'nombre_completo'], how='left')

# Crear la columna 'persona_id' basada en las condiciones especificadas
df_titulos_v2['persona_id'] = df_titulos_v2['id'].combine_first(df_titulos_v2['documento'])

# Eliminar la columna 'id' ya que no la necesitamos en el DataFrame final
df_titulos_v2 = df_titulos_v2.drop(columns=['id'])

# Ordenar el DataFrame por 'documento' y 'persona_id'
df_titulos_v2 = df_titulos_v2.sort_values(by=['documento', 'persona_id'])

# Mostrar el DataFrame resultante
print(df_titulos_v2.shape)

# Exportar todo el DataFrame a un solo archivo CSV
df_titulos_v2.to_csv('df_titulos_v2.csv', index=False)

print('df exportado a CSV en un solo archivo')

100%|██████████| 3/3 [00:00<00:00, 1500.29it/s]

(553407, 17)
df exportado a CSV en un solo archivo

# Fragmentando dataset para facilitar trabajar sobre secciones

In [563]:
import pandas as pd
# Función para limpiar las variantes de ciclos y espacios dobles
def limpiar_ciclos(texto):
    if isinstance(texto, str):  # Asegurarse de que el texto sea una cadena
        # Reemplazar variantes de "TERCER CICLO"
        texto = re.sub(r'\b(3(O|0)?|TERCERO|TERCER|3(DEG)?|30)\s*CICLO(S)?\b', 'TERCER CICLO', texto, flags=re.IGNORECASE)

        # Reemplazar variantes de "SEGUNDO CICLO"
        texto = re.sub(r'\b(2(O|0)?|SEGUNDO|2(DEG)?|20)\s*CICLO(S)?\b', 'SEGUNDO CICLO', texto, flags=re.IGNORECASE)

        # Reemplazar variantes de "PRIMER CICLO"
        texto = re.sub(r'\b(1(O|0)?|PRIMERO|PRIMER|1(DEG)?|10)\s*CICLO(S)?\b', 'PRIMER CICLO', texto, flags=re.IGNORECASE)

        # Eliminar espacios dobles
        texto = re.sub(r'\s+', ' ', texto).strip()

    return texto
    
# Filtrar las columnas necesarias de df1 y df2
titulos = df_titulos_v2[['anio', 'mes', 'documento', 'persona_id', 'nombre_completo', 'tipo_institucion', 'institucion', 'carrera', 'titulo', 'sexo']]
carreras = df2[['tipo_institucion', 'nombre_institucion', 'denominacion_carrera', 'denominacion_titulo', 'tipo_gestion', 'nivel_titulacion', 'clasificacion_campo_amplio']]

carreras.rename(columns={
    'nombre_institucion': 'institucion',
    'denominacion_carrera': 'carrera',
    'denominacion_titulo': 'titulo'
}, inplace=True)

# Aplicar la función de limpieza a las columnas 'carrera' y 'titulo' en ambos DataFrames
titulos.loc[:, 'carrera'] = titulos['carrera'].apply(limpiar_ciclos)
titulos.loc[:, 'titulo'] = titulos['titulo'].apply(limpiar_ciclos)
carreras.loc[:, 'carrera'] = carreras['carrera'].apply(limpiar_ciclos)
carreras.loc[:, 'titulo'] = carreras['titulo'].apply(limpiar_ciclos)
# Diccionario para los tipos de institución y sus siglas
tipo_institucion_siglas = {
    'CENTRO REGIONAL DE EDUCACION': 'CRE',
    'INSTITUTO DE FORMACION DOCENTE': 'IFD',
    'INSTITUTO SUPERIOR': 'IS',
    'INSTITUTO TECNICO SUPERIOR': 'ITS',
    'UNIVERSIDAD': 'U'
}

# Dividir titulos en fragmentos según el tipo de institución
for tipo, sigla in tipo_institucion_siglas.items():
    fragmento = titulos[titulos['tipo_institucion'] == tipo]
    fragmento.to_excel(f'titulos_{sigla}.xlsx', index=False)

# Dividir carreras en fragmentos según el tipo de institución
for tipo, sigla in tipo_institucion_siglas.items():
    fragmento = carreras[carreras['tipo_institucion'] == tipo]
    fragmento.to_excel(f'carreras_{sigla}.xlsx', index=False)

print("Archivos exportados según tipo de institución.")

C:\Users\gimen\AppData\Local\Temp\ipykernel_1904\1272164197.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  carreras.rename(columns={

Archivos exportados según tipo de institución.

# CARGAR DATAFRAMES

In [565]:
import pandas as pd

# Cargar los archivos Excel que contienen los DataFrames por tipo de institución
titulos_cre = pd.read_excel('titulos_CRE.xlsx')
titulos_ifd = pd.read_excel('titulos_IFD.xlsx')
titulos_is = pd.read_excel('titulos_IS.xlsx')
titulos_its = pd.read_excel('titulos_ITS.xlsx')
titulos_u = pd.read_excel('titulos_U.xlsx')

carreras_cre = pd.read_excel('carreras_CRE.xlsx')
carreras_ifd = pd.read_excel('carreras_IFD.xlsx')
carreras_is = pd.read_excel('carreras_IS.xlsx')
carreras_its = pd.read_excel('carreras_ITS.xlsx')
carreras_u = pd.read_excel('carreras_U.xlsx')

# Verificar la carga de los DataFrames
print("Títulos CRE shape:", titulos_cre.shape)
print("Títulos IFD shape:", titulos_ifd.shape)
print("Títulos IS shape:", titulos_is.shape)
print("Títulos ITS shape:", titulos_its.shape)
print("Títulos U shape:", titulos_u.shape)

print("Carreras CRE shape:", carreras_cre.shape)
print("Carreras IFD shape:", carreras_ifd.shape)
print("Carreras IS shape:", carreras_is.shape)
print("Carreras ITS shape:", carreras_its.shape)
print("Carreras U shape:", carreras_u.shape)

Títulos CRE shape: (14479, 10)
Títulos IFD shape: (52869, 10)
Títulos IS shape: (72944, 10)
Títulos ITS shape: (32722, 10)
Títulos U shape: (380393, 10)
Carreras CRE shape: (1526, 7)
Carreras IFD shape: (8659, 7)
Carreras IS shape: (1721, 7)
Carreras ITS shape: (5595, 7)
Carreras U shape: (9893, 7)

# CENTRO REGIONAL DE EDUCACION

In [569]:
print("Correcciones realizadas en titulos_cre:")
print(titulos_cre['institucion'].unique())  # Imprime los valores únicos para ver las correcciones

print("\nCorrecciones realizadas en carreras_cre:")
print(carreras_cre['institucion'].unique())  # Imprime los valores únicos para ver las correcciones

Correcciones realizadas en titulos_cre:
['CENTRO REGIONAL DE EDUCACION SATURIO RIOS'
 'CENTRO REGIONAL DE EDUCACION GENERAL PATRICIO ESCOBAR'
 'CENTRO REGIONAL DE EDUCACION DOCTOR JOSE GASPAR RODRIGUEZ DE FRANCIA'
 'CENTRO REGIONAL DE EDUCACION DRRAUL PENA'
 'CENTRO REGIONAL DE EDUCACION NATALICIO TALAVERA'
 'CENTRO REGIONAL DE EDUCACION JUAN E OLEARY'
 'CENTRO REGIONAL DE EDUCACION MARISCAL FRANCISCO SOLANO LOPEZ'
 'CENTRO REGIONAL DE EDUCACION DOCTOR RAUL PENA']

Correcciones realizadas en carreras_cre:
['CENTRO REGIONAL DE EDUCACION SATURIO RIOS'
 'CENTRO REGIONAL DE EDUCACION DOCTOR JOSE GASPAR RODRIGUEZ DE FRANCIA'
 'CENTRO REGIONAL DE EDUCACION DRRAUL PENA'
 'CENTRO REGIONAL DE EDUCACION NATALICIO TALAVERA'
 'CENTRO REGIONAL DE EDUCACION GENERAL PATRICIO ESCOBAR'
 'CENTRO REGIONAL DE EDUCACION JUAN E OLEARY'
 'CENTRO REGIONAL DE EDUCACION MARISCAL FRANCISCO SOLANO LOPEZ'
 'CENTRO REGIONAL DE EDUCACION GENERAL PATRICIO ESCOBAR DE ENCARNACION'
 'CENTRO REGIONAL DE EDUCACION DOCTOR RAUL PENA DE PEDRO JUAN CABALLERO'
 'CENTRO REGIONAL DE EDUCACION DOCTOR RAUL PENA']

# instituciones que solo estan en un lugar

In [572]:
# Valores únicos en 'titulos_cre'
instituciones_titulos = set(titulos_cre['institucion'].unique())

# Valores únicos en 'carreras_cre'
instituciones_carreras = set(carreras_cre['institucion'].unique())

# Instituciones que están en 'titulos_cre' pero no en 'carreras_cre'
solo_en_titulos = instituciones_titulos - instituciones_carreras
print("Instituciones que están solo en titulos_cre:")
print(solo_en_titulos)

# Instituciones que están en 'carreras_cre' pero no en 'titulos_cre'
solo_en_carreras = instituciones_carreras - instituciones_titulos
print("\nInstituciones que están solo en carreras_cre:")
print(solo_en_carreras)

Instituciones que están solo en titulos_cre:
set()

Instituciones que están solo en carreras_cre:
{'CENTRO REGIONAL DE EDUCACION GENERAL PATRICIO ESCOBAR DE ENCARNACION', 'CENTRO REGIONAL DE EDUCACION DOCTOR RAUL PENA DE PEDRO JUAN CABALLERO'}

# limpieza de inconsistencias

In [575]:
import pandas as pd

# Función para limpiar nombres específicos
def limpiar_instituciones(nombre, es_carreras=False):
    nombre = nombre.upper()
    
    # Correcciones generales para ambos datasets
    if "DRRAUL PENA" in nombre:
        nombre = nombre.replace("DRRAUL PENA", "DOCTOR RAUL PENA")
    
    # Correcciones específicas para carreras_cre
    if es_carreras:
        if "GENERAL PATRICIO ESCOBAR DE ENCARNACION" in nombre:
            nombre = nombre.replace("GENERAL PATRICIO ESCOBAR DE ENCARNACION", "GENERAL PATRICIO ESCOBAR")
        if "DOCTOR RAUL PENA DE PEDRO JUAN CABALLERO" in nombre:
            nombre = nombre.replace("DOCTOR RAUL PENA DE PEDRO JUAN CABALLERO", "DOCTOR RAUL PENA")
    
    return nombre

# Aplicar la limpieza en ambos datasets
titulos_cre['institucion'] = titulos_cre['institucion'].apply(limpiar_instituciones)
carreras_cre['institucion'] = carreras_cre['institucion'].apply(lambda x: limpiar_instituciones(x, es_carreras=True))
# Limpiar el nombre de la carrera reemplazando solo la parte específica
carreras_cre['carrera'] = carreras_cre['carrera'].replace(
    'PROFESIONALIZADONANEMOARANDUKE',
    'PROFESIONALIZADO',
    regex=True  # Esto permite la búsqueda con expresiones regulares
)
# Limpiar el nombre de la carrera reemplazando solo la parte específica
titulos_cre['carrera'] = titulos_cre['carrera'].replace(
    'PROFESIONALIZADONANEMOARANDUKE',
    'PROFESIONALIZADO',
    regex=True  # Esto permite la búsqueda con expresiones regulares
)
# Mostrar las instituciones corregidas
print("Instituciones corregidas en titulos_cre:")
print(titulos_cre['institucion'].unique())

print("\nInstituciones corregidas en carreras_cre:")
print(carreras_cre['institucion'].unique())

Instituciones corregidas en titulos_cre:
['CENTRO REGIONAL DE EDUCACION SATURIO RIOS'
 'CENTRO REGIONAL DE EDUCACION GENERAL PATRICIO ESCOBAR'
 'CENTRO REGIONAL DE EDUCACION DOCTOR JOSE GASPAR RODRIGUEZ DE FRANCIA'
 'CENTRO REGIONAL DE EDUCACION DOCTOR RAUL PENA'
 'CENTRO REGIONAL DE EDUCACION NATALICIO TALAVERA'
 'CENTRO REGIONAL DE EDUCACION JUAN E OLEARY'
 'CENTRO REGIONAL DE EDUCACION MARISCAL FRANCISCO SOLANO LOPEZ']

Instituciones corregidas en carreras_cre:
['CENTRO REGIONAL DE EDUCACION SATURIO RIOS'
 'CENTRO REGIONAL DE EDUCACION DOCTOR JOSE GASPAR RODRIGUEZ DE FRANCIA'
 'CENTRO REGIONAL DE EDUCACION DOCTOR RAUL PENA'
 'CENTRO REGIONAL DE EDUCACION NATALICIO TALAVERA'
 'CENTRO REGIONAL DE EDUCACION GENERAL PATRICIO ESCOBAR'
 'CENTRO REGIONAL DE EDUCACION JUAN E OLEARY'
 'CENTRO REGIONAL DE EDUCACION MARISCAL FRANCISCO SOLANO LOPEZ']

# verificar valores nulos

In [578]:
import pandas as pd

# Contar valores nulos en cada columna de titulos_cre
print("Valores nulos en titulos_cre:")
print(titulos_cre.isnull().sum())

# Contar valores nulos en cada columna de carreras_cre
print("\nValores nulos en carreras_cre:")
print(carreras_cre.isnull().sum())

Valores nulos en titulos_cre:
anio                 0
mes                  0
documento            0
persona_id           0
nombre_completo      0
tipo_institucion     0
institucion          0
carrera              0
titulo               0
sexo                22
dtype: int64

Valores nulos en carreras_cre:
tipo_institucion                 0
institucion                      0
carrera                          0
titulo                           0
tipo_gestion                     2
nivel_titulacion                 0
clasificacion_campo_amplio    1317
dtype: int64

# campos vacios en carreras cre

# clasificacion de campo amplio

In [582]:
import pandas as pd

# Contar los valores vacíos (NaN) en cada columna
valores_vacios = carreras_cre.isna().sum()

# Mostrar el total de valores vacíos por columna antes de completar
print("Total de valores vacíos por columna antes de completar:")
print(valores_vacios)

# Llenar los campos vacíos en clasificacion_campo_amplio con 'EDUCACION'
carreras_cre['clasificacion_campo_amplio'] = carreras_cre['clasificacion_campo_amplio'].fillna('EDUCACION')

# Volver a contar los valores vacíos después de la operación
valores_vacios_actualizados = carreras_cre.isna().sum()

# Mostrar el total de valores vacíos por columna después de completar
print("\nTotal de valores vacíos por columna después de completar:")
print(valores_vacios_actualizados)

# Exportar el dataframe resultante a un archivo Excel
carreras_cre.to_excel('carreras_cre_actualizado.xlsx', index=False)

Total de valores vacíos por columna antes de completar:
tipo_institucion                 0
institucion                      0
carrera                          0
titulo                           0
tipo_gestion                     2
nivel_titulacion                 0
clasificacion_campo_amplio    1317
dtype: int64

Total de valores vacíos por columna después de completar:
tipo_institucion              0
institucion                   0
carrera                       0
titulo                        0
tipo_gestion                  2
nivel_titulacion              0
clasificacion_campo_amplio    0
dtype: int64

# tipo de gestion

In [585]:
import pandas as pd

# Contar el tipo de gestión más frecuente para cada institución
def completar_tipo_gestion(grupo):
    if grupo['tipo_gestion'].isnull().all():
        return grupo
    # Obtener el tipo de gestión más frecuente (eliminando los nulos) 
    tipo_frecuente = grupo['tipo_gestion'].dropna().mode()[0]
    # Rellenar los valores nulos con el tipo de gestión más frecuente
    grupo['tipo_gestion'] = grupo['tipo_gestion'].fillna(tipo_frecuente)
    return grupo

# Aplicar la función a cada grupo de instituciones sin convertirlo en índice
carreras_cre = carreras_cre.groupby('institucion', as_index=False).apply(completar_tipo_gestion)

# Guardar el resultado en un archivo Excel
carreras_cre.to_excel('carreras_cre_actualizado.xlsx', index=False)

# Verificar si aún hay valores nulos en la columna 'tipo_gestion'
print(carreras_cre['tipo_gestion'].isnull().sum())

C:\Users\gimen\AppData\Local\Temp\ipykernel_1904\2004155564.py:14: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  carreras_cre = carreras_cre.groupby('institucion', as_index=False).apply(completar_tipo_gestion)

0

# unificacion carreras y titulos cre

In [588]:
import pandas as pd

# Crear copias de los DataFrames originales
titulos_cre_copy = titulos_cre.copy()
carreras_cre_copy = carreras_cre.copy()

# Renombrar la columna 'titulo' en cada copia para diferenciarlas
titulos_cre_copy = titulos_cre_copy.rename(columns={'titulo': 'titulo_titulos'})
carreras_cre_copy = carreras_cre_copy.rename(columns={'titulo': 'titulo_carrera'})

# Paso 1: Crear un DataFrame combinado que indica de dónde provienen las filas
merged_df = pd.merge(
    titulos_cre_copy[['carrera', 'institucion', 'tipo_institucion', 'titulo_titulos']],
    carreras_cre_copy[['carrera', 'institucion', 'tipo_institucion', 'titulo_carrera']],
    left_on=['carrera', 'institucion', 'tipo_institucion', 'titulo_titulos'],
    right_on=['carrera', 'institucion', 'tipo_institucion', 'titulo_carrera'],
    how='outer',
    indicator=True
)

# Paso 2: Filtrar las filas que están solo en uno de los DataFrames
not_matching = merged_df[merged_df['_merge'] != 'both']

# Paso 3: Exportar a Excel
not_matching.to_excel('valores_no_coincidentes_CRE.xlsx', index=False)
carreras_cre_copy = carreras_cre_copy.rename(columns={'institucion': 'institucion_carrera'})
carreras_cre_copy = carreras_cre_copy.rename(columns={'carrera': 'carrera_carreras'})
# Filtrar el DataFrame para obtener solo las filas donde _merge es 'left_only'
left_only = merged_df[merged_df['_merge'] == 'left_only']

# Imprimir el número de filas left_only
print("Número de filas left_only:", left_only.shape[0])

Número de filas left_only: 985

## LIMPIANDO INCONSISTENCIAS

In [591]:
from fuzzywuzzy import fuzz
import pandas as pd

# Función para extraer la parte posterior a 'AREA'
def extract_after_area(text):
  
    if 'AREA' in text:
        return text.split('AREA', 1)[-1].strip()  # Extraer lo que sigue después de 'AREA'
    return None  # Si no tiene 'AREA', devolver None

# Función de coincidencia difusa optimizada
def fuzzy_unify(row, carreras_cre, threshold=75):
    best_match = None
    best_score = 0

    carreras_cre_filtered = carreras_cre[
        (carreras_cre['institucion_carrera'] == row['institucion']) &
        (carreras_cre['tipo_institucion'] == row['tipo_institucion'])
    ]

    row['carrera_carreras'] = None
    row['titulo_carrera'] = None
    row['institucion_carrera'] = None

    for _, carrera_row in carreras_cre_filtered.iterrows():
        # Extraer partes después de 'AREA'
        area_row_1 = extract_after_area(row['carrera'])
        area_row_2 = extract_after_area(carrera_row['carrera_carreras'])

        if area_row_1 and area_row_2:  # Ambas tienen 'AREA'
            area_score = fuzz.ratio(area_row_1, area_row_2)
            if area_score < 70:  # Si la parte después de 'AREA' no es similar
                avg_score = 60  # Asignar un puntaje bajo
            else:
                carrera_score = fuzz.partial_ratio(row['carrera'], carrera_row['carrera_carreras'])
                titulo_score = fuzz.partial_ratio(row['titulo_titulos'], carrera_row['titulo_carrera'])
                avg_score = (carrera_score + titulo_score) / 2
        elif area_row_1 or area_row_2:  # Solo una de las partes tiene 'AREA'
            avg_score = 60  # Puntaje bajo
        else:
            carrera_score = fuzz.partial_ratio(row['carrera'], carrera_row['carrera_carreras'])
            titulo_score = fuzz.partial_ratio(row['titulo_titulos'], carrera_row['titulo_carrera'])
            avg_score = (carrera_score + titulo_score) / 2

        if avg_score > best_score:
            best_score = avg_score
            best_match = carrera_row

    if best_score >= threshold and best_match is not None:
        row['carrera_unificada'] = best_match['carrera_carreras']
        row['titulo_unificado'] = best_match['titulo_carrera']
        row['institucion_unificada'] = best_match['institucion_carrera']
        row['carrera_carreras'] = best_match['carrera_carreras']
        row['titulo_carrera'] = best_match['titulo_carrera']
        row['institucion_carrera'] = best_match['institucion_carrera']
    else:
        row['carrera_unificada'] = row['carrera']
        row['titulo_unificado'] = row['titulo_titulos']
        row['institucion_unificada'] = row['institucion']

    row['similarity_score'] = best_score
    return row

# Aplicar la coincidencia difusa
left_only_unified = left_only.apply(fuzzy_unify, args=(carreras_cre_copy,), axis=1)
left_only_unified = left_only_unified[[
    'carrera',
    'carrera_carreras',
    'carrera_unificada', 
    'titulo_titulos', # Cambiado de posición
    'titulo_carrera',
    'titulo_unificado',
    'institucion', 
    'institucion_carrera',
    'institucion_unificada',
    'similarity_score'
]]
# Exportar a un archivo Excel
left_only_unified.to_excel('unificacion_left_only_cre.xlsx', index=False)
print("Archivo exportado: 'unificacion_left_only_cre.xlsx'")

Archivo exportado: 'unificacion_left_only_cre.xlsx'

# Reemplazando campos

In [593]:
# Paso 1: Filtrar las filas de left_only_unified con un puntaje mayor o igual a 90
left_only_unified_filtered = left_only_unified[left_only_unified['similarity_score'] >= 90]

# Paso 2: Reemplazar los valores en titulos_cre
for _, row in left_only_unified_filtered.iterrows():
    # Buscar coincidencias en titulos_cre
    condition = (
        (titulos_cre['carrera'] == row['carrera']) &
        (titulos_cre['titulo'] == row['titulo_titulos']) &
        (titulos_cre['institucion'] == row['institucion'])
    )
    
    # Reemplazar los valores en titulos_cre si hay coincidencias
    titulos_cre.loc[condition, 'carrera'] = row['carrera_unificada']
    titulos_cre.loc[condition, 'titulo'] = row['titulo_unificado']

# Puedes guardar el DataFrame actualizado en un archivo Excel o CSV si lo deseas
titulos_cre.to_excel('titulos_cre_actualizado.xlsx', index=False)
print("Archivo exportado: 'titulos_cre_actualizado.xlsx'")

Archivo exportado: 'titulos_cre_actualizado.xlsx'

# Segunda revision #OPCIONAL

In [596]:
import pandas as pd

# Crear copias de los DataFrames originales
titulos_cre_copy = titulos_cre.copy()
carreras_cre_copy = carreras_cre.copy()

# Renombrar la columna 'titulo' en cada copia para diferenciarlas
titulos_cre_copy = titulos_cre_copy.rename(columns={'titulo': 'titulo_titulos'})
carreras_cre_copy = carreras_cre_copy.rename(columns={'titulo': 'titulo_carreras'})

# Paso 1: Crear un DataFrame combinado que indica de dónde provienen las filas
merged_df = pd.merge(
    titulos_cre_copy[['carrera', 'institucion', 'tipo_institucion', 'titulo_titulos']],
    carreras_cre_copy[['carrera', 'institucion', 'tipo_institucion', 'titulo_carreras']],
    left_on=['carrera', 'institucion', 'tipo_institucion', 'titulo_titulos'],
    right_on=['carrera', 'institucion', 'tipo_institucion', 'titulo_carreras'],
    how='outer',
    indicator=True
)

# Paso 2: Filtrar las filas que están solo en uno de los DataFrames
not_matching = merged_df[merged_df['_merge'] != 'both']

# Paso 3: Exportar a Excel
not_matching.to_excel('valores_no_coincidentes_CRE.xlsx', index=False)

# Filtrar el DataFrame para obtener solo las filas donde _merge es 'left_only'
left_only = merged_df[merged_df['_merge'] == 'left_only']

# Imprimir el número de filas left_only
print("Número de filas left_only:", left_only.shape[0])

Número de filas left_only: 148

## UNIFICACION FINAL CRE

In [617]:
import pandas as pd

# Paso 1: Eliminar duplicados en las columnas clave de carreras
df_merged_unique = carreras_cre.drop_duplicates(
    subset=['carrera', 'institucion', 'tipo_institucion', 'titulo']
)

# Paso 2: Realizar el merge con las combinaciones únicas
merged_final_CRE = pd.merge(
    titulos_cre, 
    df_merged_unique, 
    left_on=['carrera', 'institucion', 'tipo_institucion', 'titulo'], 
    right_on=['carrera', 'institucion', 'tipo_institucion', 'titulo'], 
    how='left'  # Aquí cambiamos a 'left' para mantener todas las filas de df_titulos_v2_limpio_CRE
)

# Paso 2: Guardar el DataFrame en un archivo Excel
merged_final_CRE.to_excel('CRE_FINAL.xlsx', index=False)
# Imprimir la forma y los encabezados de df_titulos_v2_limpio_CRE
print("Shape del DataFrame TITULOS V2:", titulos_cre.shape)


# Imprimir la forma y los encabezados del DataFrame final
print("Shape del DataFrame final:", merged_final_CRE.shape)

Shape del DataFrame TITULOS V2: (14479, 10)
Shape del DataFrame final: (14479, 13)

# INSTITUTO DE FORMACION DOCENTE

In [598]:
print("Correcciones realizadas en titulos_ifd:")
print(titulos_ifd['institucion'].unique())  # Imprime los valores únicos para ver las correcciones

print("\nCorrecciones realizadas en carreras_ifd:")
print(carreras_ifd['institucion'].unique())  # Imprime los valores únicos para ver las correcciones

Correcciones realizadas en titulos_ifd:
['INSTITUTO DE FORMACION DOCENTE SANTA CLARA'
 'INSTITUTO DE LINGUISTICA GUARANI DEL PARAGUAY PROFESOR DOCTOR REINALDO JULIAN DECOUD LARROSA'
 'INSTITUTO DE FORMACION DOCENTE PRIVADO SAN JOSE OBRERO'
 'INSTITUTO DE FORMACION DOCENTE CPTAN AGUSTIN FERNANDO DE PINEDO'
 'INSTITUTO DE FORMACION DOCENTE EL MAESTRO'
 'INSTITUTO DE FORMACION DOCENTE NUESTRA SENORA DE LA ASUNCION'
 'INSTITUTO DE FORMACION DOCENTE NUESTRA SENORA STELLA MARYS'
 'INSTITUTO DE FORMACION DOCENTE SANTA TERESITA'
 'INSTITUTO DE FORMACION DOCENTE DE NATALICIO TALAVERA'
 'INSTITUTO DE FORMACION DOCENTE DE YUTY'
 'INSTITUTO DE FORMACION DOCENTE DE SAN JOSE DE LOS ARROYOS'
 'INSTITUTO DE FORMACION DOCENTE DE SAN ESTANISLAO'
 'INSTITUTO DE FORMACION DOCENTE DE EUSEBIO AYALA'
 'INSTITUTO DE FORMACION DOCENTE DE VILLA HAYES'
 'INSTITUTO DE FORMACION DOCENTE DE HORQUETA'
 'INSTITUTO DE FORMACION DOCENTE NUESTRA SENORA DE ALTAGRACIA'
 'INSTITUTO DE FORMACION DOCENTE MARISCAL JOSE FELIX ESTIGARRIBIA'
 'INSTITUTO DE FORMACION DOCENTE DE PARAGUARI'
 'INSTITUTO DE FORMACION DOCENTE INTERREGIONAL'
 'INSTITUTO DE FORMACION DOCENTE DE CORONEL OVIEDO'
 'INSTITUTO DE FORMACION DOCENTE MAESTRO FERMIN LOPEZ'
 'INSTITUTO DE FORMACION DOCENTE SANTO TOMAS'
 'INSTITUTO DE FORMACION DOCENTE DE CAAGUAZU'
 'INSTITUTO DE FORMACION DOCENTE DE SAN IGNACIO'
 'INSTITUTO DE FORMACION DOCENTE JUAN ALBERTO BARRETO VILLALBA DE CURUGUATY'
 'ATENEO DE LENGUA Y CULTURA GUARANI' 'INSTITUTO DE FORMACION DOCENTE IDT'
 'INSTITUTO PEDAGOGICO NIHON GAKKO'
 'INSTITUTO DE FORMACION DOCENTE TEKO PORA REKAVO'
 'INSTITUTO DE FORMACION DOCENTE SAN MARTIN DE PORRES'
 'INSTITUTO DE FORMACION DOCENTE PROFESORA MERCEDES BAREIRO FRETES'
 'INSTITUTO DE FORMACION DOCENTE DORA GIMENEZ'
 'INSTITUTO DE FORMACION DOCENTE CENTRO PARAGUAYO DEL SABER'
 'INSTITUTO DE FORMACION DOCENTE PROFESORA LADISLAA LILE GONZALEZ'
 'INSTITUTO DE FORMACION DOCENTE MEDALLA MILAGROSA'
 'INSTITUTO DE FORMACION DOCENTE DE SANTA ROSA'
 'INSTITUTO DE FORMACION DOCENTE ACADEMO'
 'INSTITUTO DE FORMACION DOCENTE EL RENUEVO'
 'INSTITUTO DE FORMACION DOCENTE AMANECER'
 'INSTITUTO DE FORMACION DOCENTE DE SAN PEDRO DE YCUAMANDYYU'
 'INSTITUTO DE FORMACION DOCENTE DE QUIINDY'
 'INSTITUTO DE FORMACION DOCENTE LA PAZ'
 'INSTITUTO DE FORMACION DOCENTE DE CAAZAPA'
 'INSTITUTO DE FORMACION DOCENTE DE CAPITAN MIRANDA'
 'INSTITUTO DE FORMACION DOCENTE DE GENERAL ELIZARDO AQUINO'
 'INSTITUTO DE FORMACION DOCENTE DE YATYTAY'
 'INSTITUTO DE FORMACION DOCENTE DE LIMA'
 'INSTITUTO DE FORMACION DOCENTE PROFESOR FRANCISCO GAONA'
 'INSTITUTO DE FORMACION DOCENTE SANTA MATILDE'
 'INSTITUTO DE FORMACION DOCENTE SAN NICOLAS'
 'INSTITUTO DE FORMACION DOCENTE DIOCESANO'
 'INSTITUTO DE FORMACION DOCENTE PRIVADO DE LA CIUDAD DE AYOLAS'
 'INSTITUTO DE FORMACION DOCENTE DE CARAPEGUA'
 'INSTITUTO DE FORMACION DOCENTE ASUNCION ESCALADA'
 'INSTITUTO DE FORMACION DOCENTE SAGRADO CORAZON DE JESUS'
 'INSTITUTO DE FORMACION DOCENTE DE MARIA AUXILIADORA'
 'INSTITUTO DE FORMACION DOCENTE SANTA RITA DEL MONDAY'
 'INSTITUTO DE FORMACION DOCENTE INDEPENDENCIA'
 'INSTITUTO DE FORMACION DOCENTE DE ITACURUBI DE LA CORDILLERA'
 'INSTITUTO DE FORMACION DOCENTE SAN ROQUE'
 'INSTITUTO DE FORMACION DOCENTE DE GENERAL JOSE EDUVIGIS DIAZ'
 'INSTITUTO DE FORMACION DOCENTE CAMBRIDGE'
 'INSTITUTO DE FORMACION DOCENTE MAURICIO CARDOZO OCAMPO'
 'INSTITUTO DE FORMACION DOCENTE JESUS DE NAZARETH'
 'INSTITUTO DE FORMACION DOCENTE PARAGUAYO AMERICANO'
 'INSTITUTO DE FORMACION DOCENTE UNISOFT SYSTEM'
 'INSTITUTO PRIVADO DE FORMACION DOCENTE DE EDUCACION FISICA ALTO PARANA'
 'INSTITUTO DE FORMACION DOCENTE LA COLMENA'
 'INSTITUTO DE FORMACION DOCENTE ASOCIACION CULTURAL PARAGUAYO BRITANICA ANGLO ENGLISH'
 'INSTITUTO DE FORMACION DOCENTE KYREY SASO'
 'INSTITUTO DE FORMACION DOCENTE COMPLEJO EDUCATIVO RAMON INDALECIO CARDOZO'
 'ESCUELA DE EDUCACION FISICA DE LAS FUERZAS ARMADAS'
 'INSTITUTO DE FORMACION DOCENTE SAN LORENZO'
 'INSTITUTO DE FORMACION DOCENTE EUROSUR'
 'INSTITUTO DE FORMACION DOCENTE CARLOS RUBEN CACERES BUSCIO'
 'INSTITUTO DE FORMACION DOCENTE DE LAS COLONIAS MENNONITAS DEL PARAGUAY'
 'INSTITUTO DE FORMACION DOCENTE LATINOAMERICANO'
 'INSTITUTO DE FORMACION DOCENTE VIRGEN DE SCHOENSTATT']

Correcciones realizadas en carreras_ifd:
['INSTITUTO DE FORMACION DOCENTE NUESTRA SENORA DE LA ASUNCION'
 'INSTITUTO DE FORMACION DOCENTE DE EUSEBIO AYALA'
 'INSTITUTO DE FORMACION DOCENTE DE CARAPEGUA'
 'INSTITUTO DE FORMACION DOCENTE DE CORONEL OVIEDO'
 'INSTITUTO DE FORMACION DOCENTE CARLOS RUBEN CACERES BUSCIO'
 'INSTITUTO DE FORMACION DOCENTE DE CAAZAPA'
 'INSTITUTO DE FORMACION DOCENTE DE GENERAL JOSE EDUVIGIS DIAZ'
 'INSTITUTO DE FORMACION DOCENTE DIOCESANO'
 'INSTITUTO DE FORMACION DOCENTE TEKO PORA REKAVO'
 'INSTITUTO DE FORMACION DOCENTE DE SAN JOSE DE LOS ARROYOS'
 'INSTITUTO DE FORMACION DOCENTE PARAGUARI'
 'INSTITUTO DE FORMACION DOCENTE MEDALLA MILAGROSA'
 'INSTITUTO DE FORMACION DOCENTE DE GENERAL ELIZARDO AQUINO'
 'INSTITUTO DE FORMACION DOCENTE SANTA RITA DEL MONDAY'
 'INSTITUTO DE FORMACION DOCENTE COMPLEJO EDUCATIVO RAMON INDALECIO CARDOZO'
 'INSTITUTO DE FORMACION DOCENTE SANTA TERESITA'
 'INSTITUTO DE FORMACION DOCENTE PRIVADO SAN JOSE OBRERO'
 'INSTITUTO DE FORMACION DOCENTE MAESTRO FERMIN LOPEZ'
 'INSTITUTO DE FORMACION DOCENTE DE CAAGUAZU'
 'INSTITUTO DE FORMACION DOCENTE ACADEMO'
 'INSTITUTO DE FORMACION DOCENTE DE ITACURUBI DE LA CORDILLERA'
 'INSTITUTO DE FORMACION DOCENTE SANTA CLARA'
 'INSTITUTO DE FORMACION DOCENTE JUAN ALBERTO BARRETO VILLALBA DE CURUGUATY'
 'INSTITUTO DE FORMACION DOCENTE SANTA MATILDE'
 'INSTITUTO DE FORMACION DOCENTE ASUNCION ESCALADA'
 'INSTITUTO DE FORMACION DOCENTE PROFESORA MERCEDES BAREIRO FRETES'
 'INSTITUTO DE FORMACION DOCENTE DE MARIA AUXILIADORA'
 'INSTITUTO DE FORMACION DOCENTE NUESTRA SENORA STELLA MARYS'
 'INSTITUTO DE FORMACION DOCENTE DE YUTY'
 'INSTITUTO DE FORMACION DOCENTE DE QUIINDY'
 'INSTITUTO DE FORMACION DOCENTE DE SAN PEDRO DE YCUAMANDYYU'
 'INSTITUTO DE FORMACION DOCENTE DE SAN IGNACIO'
 'INSTITUTO DE FORMACION DOCENTE CPTAN AGUSTIN FERNANDO DE PINEDO'
 'INSTITUTO DE FORMACION DOCENTE EL MAESTRO'
 'INSTITUTO DE FORMACION DOCENTE PROFESOR FRANCISCO GAONA'
 'INSTITUTO DE FORMACION DOCENTE KYREY SASO'
 'INSTITUTO DE FORMACION DOCENTE DE SAN ESTANISLAO'
 'INSTITUTO DE FORMACION DOCENTE DE HORQUETA'
 'INSTITUTO DE FORMACION DOCENTE DE SANTA ROSA'
 'INSTITUTO PEDAGOGICO NIHON GAKKO'
 'INSTITUTO DE FORMACION DOCENTE DE LIMA'
 'INSTITUTO DE FORMACION DOCENTE SAN JOSE'
 'INSTITUTO DE FORMACION DOCENTE DE NATALICIO TALAVERA'
 'INSTITUTO DE FORMACION DOCENTE SAGRADO CORAZON DE JESUS'
 'INSTITUTO DE FORMACION DOCENTE INTERREGIONAL'
 'INSTITUTO DE FORMACION DOCENTE MARISCAL JOSE FELIX ESTIGARRIBIA'
 'INSTITUTO DE FORMACION DOCENTE SANTO TOMAS'
 'INSTITUTO DE FORMACION DOCENTE DE LAS COLONIAS MENNONITAS DEL PARAGUAY'
 'INSTITUTO DE FORMACION DOCENTE DORA GIMENEZ'
 'DIRECCION DE INNOVACIONES PEDAGOGICAS'
 'INSTITUTO DE FORMACION DOCENTE SAN MARTIN DE PORRES'
 'INSTITUTO DE FORMACION DOCENTE DE VILLA HAYES'
 'INSTITUTO DE FORMACION DOCENTE CENTRO PARAGUAYO DEL SABER'
 'INSTITUTO DE FORMACION DOCENTE PARAGUAYO AMERICANO'
 'INSTITUTO DE FORMACION DOCENTE DE YATYTAY'
 'INSTITUTO DE FORMACION DOCENTE NUESTRA SENORA DE ALTAGRACIA'
 'INSTITUTO DE FORMACION DOCENTE SAN NICOLAS'
 'INSTITUTO DE FORMACION DOCENTE PROFESORA LADISLAA LILE GONZALEZ'
 'INSTITUTO DE FORMACION DOCENTE INDEPENDENCIA'
 'INSTITUTO DE LINGUISTICA GUARANI DEL PARAGUAY PROFESOR DOCTOR REINALDO JULIAN DECOUD LARROSA'
 'INSTITUTO DE FORMACION DOCENTE DE CAPITAN MIRANDA'
 'INSTITUTO DE FORMACION DOCENTE LA PAZ'
 'INSTITUTO DE FORMACION DOCENTE UNISOFT SYSTEM'
 'INSTITUTO DE FORMACION DOCENTE SAN ROQUE'
 'INSTITUTO DE FORMACION DOCENTE SAN ROQUE GONZALEZ DE SANTA CRUZ'
 'INSTITUTO DE FORMACION DOCENTE AMANECER'
 'INSTITUTO DE FORMACION DOCENTE EL RENUEVO'
 'INSTITUTO DE FORMACION DOCENTE EUROSUR'
 'INSTITUTO DE FORMACION DOCENTE LA COLMENA'
 'INSTITUTO DE FORMACION DOCENTE VIRGEN DE LA CANDELARIA'
 'INSTITUTO DE FORMACION DOCENTE VIRGEN DE SCHOENSTATT'
 'INSTITUTO DE FORMACION DOCENTE PARROQUIAL MEDALLA MILAGROSA'
 'INSTITUTO DE FORMACION DOCENTE GIMNASIO DEL SABER'
 'INSTITUTO DE FORMACION DOCENTE JESUS DE NAZARETH'
 'INSTITUTO DE FORMACION DOCENTE DE PARAGUARI'
 'ESCUELA DE EDUCACION FISICA DE LAS FUERZAS ARMADAS'
 'INSTITUTO DE FORM DOC MARIANO ROQUE ALONSO'
 'INSTITUTO DE FORMACION DOCENTE SAN LORENZO'
 'INSTITUTO PRIVADO DE FORMACION DOCENTE DE EDUCACION FISICA ALTO PARANA'
 'INSTITUTO DE FORMACION DOCENTE ASOCIACION CULTURAL PARAGUAYO BRITANICA ANGLO ENGLISH'
 'INSTITUTO DE FORM DOC MONTERREY'
 'INSTITUTO DE FORMACION DOCENTE MAURICIO CARDOZO OCAMPO'
 'ATENEO DE LENGUA Y CULTURA GUARANI'
 'INSTITUTO DE FORMACION DOCENTE LATINOAMERICANO'
 'INSTITUTO DE FORMACION DOCENTE IDT'
 'INSTITUTO DE FORMACION DOCENTE CAMBRIDGE'
 'INSTITUTO DE FORMACION DOCENTE PRIVADO DE LA CIUDAD DE AYOLAS']

# INSTITUCIONES QUE SOLO ESTAN EN UN LUGAR

In [600]:
# Valores únicos en 'titulos_cre'
instituciones_titulos = set(titulos_ifd['institucion'].unique())

# Valores únicos en 'carreras_cre'
instituciones_carreras = set(carreras_ifd['institucion'].unique())

# Instituciones que están en 'titulos_cre' pero no en 'carreras_cre'
solo_en_titulos = instituciones_titulos - instituciones_carreras
print("Instituciones que están solo en titulos_ifd:")
print(solo_en_titulos)

# Instituciones que están en 'carreras_cre' pero no en 'titulos_cre'
solo_en_carreras = instituciones_carreras - instituciones_titulos
print("\nInstituciones que están solo en carreras_ifd:")
print(solo_en_carreras)

Instituciones que están solo en titulos_ifd:
set()

Instituciones que están solo en carreras_ifd:
{'INSTITUTO DE FORM DOC MARIANO ROQUE ALONSO', 'INSTITUTO DE FORMACION DOCENTE PARAGUARI', 'INSTITUTO DE FORMACION DOCENTE PARROQUIAL MEDALLA MILAGROSA', 'DIRECCION DE INNOVACIONES PEDAGOGICAS', 'INSTITUTO DE FORMACION DOCENTE SAN JOSE', 'INSTITUTO DE FORMACION DOCENTE VIRGEN DE LA CANDELARIA', 'INSTITUTO DE FORMACION DOCENTE GIMNASIO DEL SABER', 'INSTITUTO DE FORM DOC MONTERREY', 'INSTITUTO DE FORMACION DOCENTE SAN ROQUE GONZALEZ DE SANTA CRUZ'}

## VERIFICANDO CAMPOS VACIOS

In [602]:
import pandas as pd

# Contar valores nulos en cada columna de titulos_cre
print("Valores nulos en titulos_ifd:")
print(titulos_ifd.isnull().sum())

# Contar valores nulos en cada columna de carreras_cre
print("\nValores nulos en carreras_ifd:")
print(carreras_ifd.isnull().sum())

Valores nulos en titulos_ifd:
anio                  0
mes                   0
documento             0
persona_id            0
nombre_completo       0
tipo_institucion      0
institucion           0
carrera               0
titulo                0
sexo                101
dtype: int64

Valores nulos en carreras_ifd:
tipo_institucion                 0
institucion                      0
carrera                          0
titulo                           0
tipo_gestion                     7
nivel_titulacion                 0
clasificacion_campo_amplio    7281
dtype: int64

## campos vacios en ifd

### campo amplio

In [604]:
import pandas as pd

# Contar los valores vacíos (NaN) en cada columna
valores_vacios = carreras_ifd.isna().sum()

# Mostrar el total de valores vacíos por columna antes de completar
print("Total de valores vacíos por columna antes de completar:")
print(valores_vacios)

# Llenar los campos vacíos en clasificacion_campo_amplio con 'EDUCACION'
carreras_ifd['clasificacion_campo_amplio'] = carreras_ifd['clasificacion_campo_amplio'].fillna('EDUCACION')

# Volver a contar los valores vacíos después de la operación
valores_vacios_actualizados = carreras_ifd.isna().sum()

# Mostrar el total de valores vacíos por columna después de completar
print("\nTotal de valores vacíos por columna después de completar:")
print(valores_vacios_actualizados)

# Exportar el dataframe resultante a un archivo Excel
carreras_ifd.to_excel('carreras_ifd_actualizado.xlsx', index=False)

Total de valores vacíos por columna antes de completar:
tipo_institucion                 0
institucion                      0
carrera                          0
titulo                           0
tipo_gestion                     7
nivel_titulacion                 0
clasificacion_campo_amplio    7281
dtype: int64

Total de valores vacíos por columna después de completar:
tipo_institucion              0
institucion                   0
carrera                       0
titulo                        0
tipo_gestion                  7
nivel_titulacion              0
clasificacion_campo_amplio    0
dtype: int64

### tipo de gestion

In [606]:
import pandas as pd

# Contar el tipo de gestión más frecuente para cada institución
def completar_tipo_gestion(grupo):
    if grupo['tipo_gestion'].isnull().all():
        return grupo
    # Obtener el tipo de gestión más frecuente (eliminando los nulos) 
    tipo_frecuente = grupo['tipo_gestion'].dropna().mode()[0]
    # Rellenar los valores nulos con el tipo de gestión más frecuente
    grupo['tipo_gestion'] = grupo['tipo_gestion'].fillna(tipo_frecuente)
    return grupo

# Aplicar la función a cada grupo de instituciones sin convertirlo en índice
carreras_ifd = carreras_ifd.groupby('institucion', as_index=False).apply(completar_tipo_gestion)

# Guardar el resultado en un archivo Excel
carreras_ifd.to_excel('carreras_ifd_actualizado.xlsx', index=False)

# Verificar si aún hay valores nulos en la columna 'tipo_gestion'
print(carreras_cre['tipo_gestion'].isnull().sum())

C:\Users\gimen\AppData\Local\Temp\ipykernel_1904\3049459892.py:14: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  carreras_ifd = carreras_ifd.groupby('institucion', as_index=False).apply(completar_tipo_gestion)

0

# Verificando inconsistencias

In [608]:
import pandas as pd

# Crear copias de los DataFrames originales
titulos_ifd_copy = titulos_ifd.copy()
carreras_ifd_copy = carreras_ifd.copy()

# Renombrar la columna 'titulo' en cada copia para diferenciarlas
titulos_ifd_copy = titulos_ifd_copy.rename(columns={'titulo': 'titulo_titulos'})
carreras_ifd_copy = carreras_ifd_copy.rename(columns={'titulo': 'titulo_carrera'})

# Paso 1: Crear un DataFrame combinado que indica de dónde provienen las filas
merged_df = pd.merge(
    titulos_ifd_copy[['carrera', 'institucion', 'tipo_institucion', 'titulo_titulos']],
    carreras_ifd_copy[['carrera', 'institucion', 'tipo_institucion', 'titulo_carrera']],
    left_on=['carrera', 'institucion', 'tipo_institucion', 'titulo_titulos'],
    right_on=['carrera', 'institucion', 'tipo_institucion', 'titulo_carrera'],
    how='outer',
    indicator=True
)

# Paso 2: Filtrar las filas que están solo en uno de los DataFrames
not_matching = merged_df[merged_df['_merge'] != 'both']

# Paso 3: Exportar a Excel
not_matching.to_excel('valores_no_coincidentes_IFD.xlsx', index=False)
carreras_ifd_copy = carreras_ifd_copy.rename(columns={'institucion': 'institucion_carrera'})
carreras_ifd_copy = carreras_ifd_copy.rename(columns={'carrera': 'carrera_carreras'})
# Filtrar el DataFrame para obtener solo las filas donde _merge es 'left_only'
left_only = merged_df[merged_df['_merge'] == 'left_only']

# Imprimir el número de filas left_only
print("Número de filas left_only:", left_only.shape[0])

Número de filas left_only: 5786

## limpiando inconsistencias ifd

In [610]:
from fuzzywuzzy import fuzz
import pandas as pd

# Función para extraer la parte posterior a 'AREA'
def extract_after_area(text):
    if 'AREA' in text:
        return text.split('AREA', 1)[-1].strip()  # Extraer lo que sigue después de 'AREA'
    return None  # Si no tiene 'AREA', devolver None

# Función de coincidencia difusa optimizada
def fuzzy_unify(row, carreras_ifd, threshold=75):
    best_match = None
    best_score = 0

    carreras_ifd_filtered = carreras_ifd[
        (carreras_ifd['institucion_carrera'] == row['institucion']) &
        (carreras_ifd['tipo_institucion'] == row['tipo_institucion'])
    ]

    row['carrera_carreras'] = None
    row['titulo_carrera'] = None
    row['institucion_carrera'] = None

    for _, carrera_row in carreras_ifd_filtered.iterrows():
        # Extraer partes después de 'AREA'
        area_row_1 = extract_after_area(row['carrera'])
        area_row_2 = extract_after_area(carrera_row['carrera_carreras'])

        if area_row_1 and area_row_2:  # Ambas tienen 'AREA'
            area_score = fuzz.ratio(area_row_1, area_row_2)
            if area_score < 70:  # Si la parte después de 'AREA' no es similar
                avg_score = 60  # Asignar un puntaje bajo
            else:
                carrera_score = fuzz.partial_ratio(row['carrera'], carrera_row['carrera_carreras'])
                titulo_score = fuzz.partial_ratio(row['titulo_titulos'], carrera_row['titulo_carrera'])
                avg_score = (carrera_score + titulo_score) / 2
        elif area_row_1 or area_row_2:  # Solo una de las partes tiene 'AREA'
            avg_score = 60  # Puntaje bajo
        else:
            carrera_score = fuzz.partial_ratio(row['carrera'], carrera_row['carrera_carreras'])
            titulo_score = fuzz.partial_ratio(row['titulo_titulos'], carrera_row['titulo_carrera'])
            avg_score = (carrera_score + titulo_score) / 2

        if avg_score > best_score:
            best_score = avg_score
            best_match = carrera_row

    if best_score >= threshold and best_match is not None:
        row['carrera_unificada'] = best_match['carrera_carreras']
        row['titulo_unificado'] = best_match['titulo_carrera']
        row['institucion_unificada'] = best_match['institucion_carrera']
        row['carrera_carreras'] = best_match['carrera_carreras']
        row['titulo_carrera'] = best_match['titulo_carrera']
        row['institucion_carrera'] = best_match['institucion_carrera']
    else:
        row['carrera_unificada'] = row['carrera']
        row['titulo_unificado'] = row['titulo_titulos']
        row['institucion_unificada'] = row['institucion']

    row['similarity_score'] = best_score
    return row

# Aplicar la coincidencia difusa
left_only_unified = left_only.apply(fuzzy_unify, args=(carreras_ifd_copy,), axis=1)

# Seleccionar las columnas en el orden deseado
left_only_unified = left_only_unified[[
    'carrera',
    'carrera_carreras',
    'carrera_unificada', 
    'titulo_titulos',
    'titulo_carrera',
    'titulo_unificado',
    'institucion', 
    'institucion_carrera',
    'institucion_unificada',
    'similarity_score'
]]

# Exportar a un archivo Excel con el nombre modificado
left_only_unified.to_excel('unificacion_left_only_ifd.xlsx', index=False)
print("Archivo exportado: 'unificacion_left_only_ifd.xlsx'")

Archivo exportado: 'unificacion_left_only_ifd.xlsx'

# REEMPLAZAR CAMPOS

In [611]:
# Paso 1: Filtrar las filas de left_only_unified con un puntaje mayor o igual a 90
left_only_unified_filtered = left_only_unified[left_only_unified['similarity_score'] >= 89.5]

# Paso 2: Reemplazar los valores en titulos_cre
for _, row in left_only_unified_filtered.iterrows():
    # Buscar coincidencias en titulos_cre
    condition = (
        (titulos_ifd['carrera'] == row['carrera']) &
        (titulos_ifd['titulo'] == row['titulo_titulos']) &
        (titulos_ifd['institucion'] == row['institucion'])
    )
    
    # Reemplazar los valores en titulos_cre si hay coincidencias
    titulos_ifd.loc[condition, 'carrera'] = row['carrera_unificada']
    titulos_ifd.loc[condition, 'titulo'] = row['titulo_unificado']

# Puedes guardar el DataFrame actualizado en un archivo Excel o CSV si lo deseas
titulos_ifd.to_excel('titulos_ifd_actualizado.xlsx', index=False)
print("Archivo exportado: 'titulos_ifd_actualizado.xlsx'")

Archivo exportado: 'titulos_ifd_actualizado.xlsx'

# SEGUNDA REVISION #OPCIONAL

In [612]:
import pandas as pd

# Crear copias de los DataFrames originales
titulos_ifd_copy = titulos_ifd.copy()
carreras_ifd_copy = carreras_ifd.copy()

# Renombrar la columna 'titulo' en cada copia para diferenciarlas
titulos_ifd_copy = titulos_ifd_copy.rename(columns={'titulo': 'titulo_titulos'})
carreras_ifd_copy = carreras_ifd_copy.rename(columns={'titulo': 'titulo_carrera'})

# Paso 1: Crear un DataFrame combinado que indica de dónde provienen las filas
merged_df = pd.merge(
    titulos_ifd_copy[['carrera', 'institucion', 'tipo_institucion', 'titulo_titulos']],
    carreras_ifd_copy[['carrera', 'institucion', 'tipo_institucion', 'titulo_carrera']],
    left_on=['carrera', 'institucion', 'tipo_institucion', 'titulo_titulos'],
    right_on=['carrera', 'institucion', 'tipo_institucion', 'titulo_carrera'],
    how='outer',
    indicator=True
)

# Paso 2: Filtrar las filas que están solo en uno de los DataFrames
not_matching = merged_df[merged_df['_merge'] != 'both']

# Paso 3: Exportar a Excel
not_matching.to_excel('valores_no_coincidentes_IFD.xlsx', index=False)
carreras_ifd_copy = carreras_ifd_copy.rename(columns={'institucion': 'institucion_carrera'})
carreras_ifd_copy = carreras_ifd_copy.rename(columns={'carrera': 'carrera_carreras'})
# Filtrar el DataFrame para obtener solo las filas donde _merge es 'left_only'
left_only = merged_df[merged_df['_merge'] == 'left_only']

# Imprimir el número de filas left_only
print("Número de filas left_only:", left_only.shape[0])

Número de filas left_only: 3633

# UNIFICACION FINAL IFD

In [616]:
import pandas as pd

# Paso 1: Eliminar duplicados en las columnas clave de carreras
df_merged_unique = carreras_ifd.drop_duplicates(
    subset=['carrera', 'institucion', 'tipo_institucion', 'titulo']
)

# Paso 2: Realizar el merge con las combinaciones únicas
merged_final_IFD = pd.merge(
    titulos_ifd, 
    df_merged_unique, 
    left_on=['carrera', 'institucion', 'tipo_institucion', 'titulo'], 
    right_on=['carrera', 'institucion', 'tipo_institucion', 'titulo'], 
    how='left'  # Aquí cambiamos a 'left' para mantener todas las filas de df_titulos_v2_limpio_CRE
)

# Paso 2: Guardar el DataFrame en un archivo Excel
merged_final_IFD.to_excel('IFD_FINAL.xlsx', index=False)
# Imprimir la forma y los encabezados de df_titulos_v2_limpio_CRE
print("Shape del DataFrame TITULOS V2:", titulos_ifd.shape)


# Imprimir la forma y los encabezados del DataFrame final
print("Shape del DataFrame final:", merged_final_IFD.shape)

Shape del DataFrame TITULOS V2: (52869, 10)
Shape del DataFrame final: (52869, 13)

# INSTITUTO SUPERIOR

In [621]:
print("Correcciones realizadas en titulos_is:")
print(titulos_is['institucion'].unique())  # Imprime los valores únicos para ver las correcciones

print("\nCorrecciones realizadas en carreras_is:")
print(carreras_is['institucion'].unique())  # Imprime los valores únicos para ver las correcciones

Correcciones realizadas en titulos_is:
['INSTITUTO SUPERIOR PROFESIONAL AVANZADO'
 'INSTITUTO SUPERIOR EN CIENCIAS LINGUISTICAS IDELGUAP'
 'COMANDO DE INSTITUTOS MILITARES DE ENSENANZA DEL EJERCITO'
 'INSTITUTO SUPERIOR KYREY SASO'
 'INSTITUTO NACIONAL DE EDUCACION SUPERIOR DOCTOR RAUL PENA'
 'INSTITUTO SUPERIOR DE EDUCACION SANTO TOMAS'
 'ATENEO DE LENGUA Y CULTURA GUARANI'
 'INSTITUTO SUPERIOR DE EDUCACION POLICIAL'
 'INSTITUTO SUPERIOR INTERREGIONAL EN CIENCIAS DE LA SALUD'
 'INSTITUTO DE ALTOS ESTUDIOS ESTRATEGICOS'
 'INSTITUTO SUPERIOR DE EDUCACION DIVINA ESPERANZA'
 'INSTITUTO SUPERIOR EN CIENCIAS JURIDICAS ESCUELA DE DERECHO Y OTRAS UNIDADES PEDAGOGICAS'
 'INSTITUTO SUPERIOR EN CIENCIAS DE LA SALUD SANTA ROSA MISTICA'
 'INSTITUTO SUPERIOR CENTURIA' 'INSTITUTO NACIONAL DE SALUD'
 'INSTITUTO DESARROLLO'
 'INSTITUTO SUPERIOR DE FORMACION TRIBUTARIA COMERCIAL Y ADMINISTRATIVA'
 'INSTITUTO SUPERIOR DE BELLAS ARTES'
 'INSTITUTO SUPERIOR DE FORMACION TRIBUTARIA Y EMPRESARIAL'
 'COMANDO DE INSTITUTOS NAVALES DE ENSENANZA DE LA ARMADA'
 'INSTITUTO SUPERIOR DE EDUCACION DOCTOR RAUL PENA'
 'INSTITUTO SUPERIOR EN CIENCIAS DE LA SALUD JUAN PABLO II'
 'INSTITUTO SUPERIOR EN CIENCIAS DE LA SALUD SAN AGUSTIN'
 'COMANDO DE INSTITUTOS AERONAUTICOS DE ENSENANZA DE LA FUERZA AEREA'
 'INSTITUTO SUPERIOR SALESIANO DE ESTUDIOS FILOSOFICOS DON BOSCO'
 'INSTITUTO SUPERIOR PARAGUAYO DE TECNOLOGIA Y CIENCIAS DE LA EDUCACION'
 'INSTITUTO SUPERIOR DE EDUCACION DOCTOR IGNACIO A PANE'
 'INSTITUTO SUPERIOR EN CIENCIAS DE LA SALUD SAN PATRICIO DE IRLANDA DEL NORTE'
 'INSTITUTO SUPERIOR SANTA LIBRADA'
 'INSTITUTO SUPERIOR DE ESTUDIOS HUMANISTICOS Y FILOSOFICOS SAN FRANCISCO JAVIER'
 'CENTRO EDUCATIVO SUPERIOR EN SALUD'
 'INSTITUTO DE EDUCACION SUPERIOR DE ODONTOLOGIA AVANZADA'
 'INSTITUTO SUPERIOR VIA PRO DESARROLLO'
 'INSTITUTO DE LINGUISTICA GUARANI DEL PARAGUAY PROFESOR DOCTOR REINALDO JULIAN DECOUD LARROSA'
 'INSTITUTO SUPERIOR DE ODONTOLOGIA ECO'
 'CENTRO DE CIENCIAS PENALES Y POLITICA CRIMINAL'
 'INSTITUTO DE EDUCACION SUPERIOR ARCO IRIS'
 'INSTITUTO SUPERIOR DE ARTES VISUALES VERONICA KOOP'
 'INSTITUTO SUPERIOR DE CIENCIAS LINGUISTICAS PROFESOR DOCTOR REINALDO JULIAN DECOUD LARROSA'
 'INSTITUTO SUPERIOR DE ARTES VISUALES VERONIKA KOOP']

Correcciones realizadas en carreras_is:
['INSTITUTO SUPERIOR EN CIENCIAS DE LA SALUD JUAN PABLO II'
 'INSTITUTO NACIONAL DE SALUD'
 'INSTITUTO SUPERIOR SALESIANO DE ESTUDIOS FILOSOFICOS DON BOSCO'
 'INSTITUTO SUPERIOR SAN PATRICIO DE IRLANDA DEL NORTE'
 'INSTITUTO SUPERIOR DE EDUCACION POLICIAL'
 'INSTITUTO SUPERIOR PROFESIONAL AVANZADO'
 'INSTITUTO SUPERIOR EN CIENCIAS DE LA SALUD SAN AGUSTIN'
 'INSTITUTO SUPERIOR EN CIENCIAS DE LA SALUD SANTA ROSA MISTICA'
 'INSTITUTO SUPERIOR EN CIENCIAS DE LA SALUD SAN PATRICIO DE IRLANDA DEL NORTE'
 'INSTITUTO SUPERIOR KYREY SASO'
 'INSTITUTO SUPERIOR DE ESTUDIOS HUMANISTICOS Y FILOSOFICOS SAN FRANCISCO JAVIER'
 'INSTITUTO DE LINGUISTICA GUARANI DEL PARAGUAY PROFESOR DOCTOR REINALDO JULIAN DECOUD LARROSA'
 'INSTITUTO SUPERIOR EN CIENCIAS DE LA SALUD SAN NICOLAS'
 'INSTITUTO SUPERIOR DE EDUCACION DIVINA ESPERANZA'
 'INSTITUTO SUPERIOR DE EDUCACION VIA PRO DESARROLLO'
 'ATENEO DE LENGUA Y CULTURA GUARANI' 'INSTITUTO SUPERIOR DE BELLAS ARTES'
 'CENTRO EDUCATIVO SUPERIOR EN SALUD'
 'INSTITUTO SUPERIOR DE FORMACION TRIBUTARIA COMERCIAL Y ADMINISTRATIVA'
 'INSTITUTO SUPERIOR DE ODONTOLOGIA ECO'
 'INSTITUTO DE ALTOS ESTUDIOS ESTRATEGICOS'
 'INSTITUTO SUPERIOR INTERREGIONAL EN CIENCIAS DE LA SALUD'
 'INSTITUTO SUPERIOR DE EDUCACION SANTO TOMAS'
 'INSTITUTO NACIONAL DE EDUCACION SUPERIOR DOCTOR RAUL PENA'
 'INSTITUTO SUPERIOR DE EDUCACION DOCTOR IGNACIO A PANE'
 'INSTITUTO SUPERIOR DE FORMACION TRIBUTARIA Y EMPRESARIAL'
 'INSTITUTO DESARROLLO'
 'COMANDO DE INSTITUTOS AERONAUTICOS DE ENSENANZA DE LA FUERZA AEREA'
 'INSTITUTO SUPERIOR CENTURIA'
 'INSTITUTO DE EDUCACION SUPERIOR DE ODONTOLOGIA AVANZADA'
 'INSTITUTO SUPERIOR EN CIENCIAS JURIDICAS ESCUELA DE DERECHO Y OTRAS UNIDADES PEDAGOGICAS'
 'CENTRO DE CIENCIAS PENALES Y POLITICA CRIMINAL'
 'COMANDO DE INSTITUTOS NAVALES DE ENSENANZA DE LA ARMADA'
 'COMANDO DE INSTITUTOS MILITARES DE ENSENANZA DEL EJERCITO'
 'INSTITUTO SUPERIOR PARAGUAYO DE TECNOLOGIA Y CIENCIAS DE LA EDUCACION'
 'FACULTAD LATINOAMERICANA DE CIENCIAS SOCIALES'
 'INSTITUTO DE EDUCACION SUPERIOR ARCO IRIS']

# INSTITUCIONES QUE ESTAN EN UN SOLO LUGAR

In [624]:
# Valores únicos en 'titulos_cre'
instituciones_titulos = set(titulos_is['institucion'].unique())

# Valores únicos en 'carreras_cre'
instituciones_carreras = set(carreras_is['institucion'].unique())

# Instituciones que están en 'titulos_cre' pero no en 'carreras_cre'
solo_en_titulos = instituciones_titulos - instituciones_carreras
print("Instituciones que están solo en titulos_is:")
print(solo_en_titulos)

# Instituciones que están en 'carreras_cre' pero no en 'titulos_cre'
solo_en_carreras = instituciones_carreras - instituciones_titulos
print("\nInstituciones que están solo en carreras_is:")
print(solo_en_carreras)

Instituciones que están solo en titulos_is:
{'INSTITUTO SUPERIOR VIA PRO DESARROLLO', 'INSTITUTO SUPERIOR DE ARTES VISUALES VERONICA KOOP', 'INSTITUTO SUPERIOR EN CIENCIAS LINGUISTICAS IDELGUAP', 'INSTITUTO SUPERIOR DE CIENCIAS LINGUISTICAS PROFESOR DOCTOR REINALDO JULIAN DECOUD LARROSA', 'INSTITUTO SUPERIOR DE EDUCACION DOCTOR RAUL PENA', 'INSTITUTO SUPERIOR SANTA LIBRADA', 'INSTITUTO SUPERIOR DE ARTES VISUALES VERONIKA KOOP'}

Instituciones que están solo en carreras_is:
{'INSTITUTO SUPERIOR SAN PATRICIO DE IRLANDA DEL NORTE', 'INSTITUTO SUPERIOR EN CIENCIAS DE LA SALUD SAN NICOLAS', 'INSTITUTO SUPERIOR DE EDUCACION VIA PRO DESARROLLO', 'FACULTAD LATINOAMERICANA DE CIENCIAS SOCIALES'}

## Limpieza general

In [627]:
titulos_is['institucion'] = titulos_is['institucion'].replace(
    'INSTITUTO SUPERIOR VIA PRO DESARROLLO',
    'INSTITUTO SUPERIOR DE EDUCACION VIA PRO DESARROLLO'
)

# campos vacios

In [637]:
import pandas as pd

# Contar valores nulos en cada columna de titulos_cre
print("Valores nulos en titulos_is:")
print(titulos_is.isnull().sum())

# Contar valores nulos en cada columna de carreras_cre
print("\nValores nulos en carreras_is:")
print(carreras_is.isnull().sum())

Valores nulos en titulos_is:
anio                  0
mes                   0
documento             0
persona_id            0
nombre_completo       0
tipo_institucion      0
institucion           0
carrera               0
titulo                0
sexo                119
dtype: int64

Valores nulos en carreras_is:
tipo_institucion                0
institucion                     0
carrera                         0
titulo                          0
tipo_gestion                   25
nivel_titulacion                0
clasificacion_campo_amplio    727
dtype: int64

# campos vacios

# campos amplio

In [639]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from tqdm import tqdm

# Concatenar los dataframes
df_combined = pd.concat([carreras_is, carreras_ifd, carreras_cre], ignore_index=True)

# Filtrar filas donde clasificacion_campo_amplio no esté vacío para entrenamiento
df_train = df_combined.dropna(subset=['clasificacion_campo_amplio'])

# Filtrar filas donde clasificacion_campo_amplio esté vacío para predicción
df_predict = df_combined[df_combined['clasificacion_campo_amplio'].isna()]

# Vectorización de la columna 'carrera' utilizando TF-IDF
vectorizer = TfidfVectorizer()
X_train = vectorizer.fit_transform(df_train['carrera'])
X_predict = vectorizer.transform(df_predict['carrera'])

# Definir el target
y_train = df_train['clasificacion_campo_amplio']

# División de los datos de entrenamiento para validación
X_train_split, X_val_split, y_train_split, y_val_split = train_test_split(X_train, y_train, test_size=0.2, random_state=42)

# Entrenar el modelo
model = LogisticRegression(max_iter=1000)
model.fit(X_train_split, y_train_split)

# Validar el modelo
y_val_pred = model.predict(X_val_split)
print("Reporte de clasificación para datos de validación:")
print(classification_report(y_val_split, y_val_pred, zero_division=0))

# Predecir los valores faltantes en df_merged_IS y añadir el asterisco
def predecir_y_marcar(row, model, vectorizer):
    if pd.isna(row['clasificacion_campo_amplio']):
        prediccion = model.predict(vectorizer.transform([row['carrera']]))[0]
        return f"{prediccion}*"
    else:
        return row['clasificacion_campo_amplio']

carreras_is['clasificacion_campo_amplio'] = carreras_is.apply(
    lambda row: predecir_y_marcar(row, model, vectorizer),
    axis=1
)

# Exportar el dataframe resultante a Excel
carreras_is.to_excel('carreras_is_actualizado.xlsx', index=False)

# Conteo de valores vacíos por columna después de la predicción
valores_vacios_post_prediccion = carreras_is.isna().sum()
print("Total de valores vacíos por columna después de la predicción:")
print(valores_vacios_post_prediccion)

Reporte de clasificación para datos de validación:
                                                     precision    recall  f1-score   support

               ADMINISTRACION DE EMPRESAS Y DERECHO       0.96      0.73      0.83        33
                                ARTES Y HUMANIDADES       0.00      0.00      0.00         5
         CIENCIAS SOCIALES PERIODISMO E INFORMACION       1.00      0.64      0.78        11
                                          EDUCACION       0.98      1.00      0.99      1974
                                  SALUD Y BIENESTAR       1.00      0.96      0.98       164
                                          SERVICIOS       1.00      0.86      0.92        42
TECNOLOGIAS DE LA INFORMACION Y LA COMUNICACION TIC       0.00      0.00      0.00         7

                                           accuracy                           0.98      2236
                                          macro avg       0.71      0.60      0.64      2236
                                       weighted avg       0.98      0.98      0.98      2236

Total de valores vacíos por columna después de la predicción:
tipo_institucion               0
institucion                    0
carrera                        0
titulo                         0
tipo_gestion                  25
nivel_titulacion               0
clasificacion_campo_amplio     0
dtype: int64

# tipo de gestion

In [641]:
import pandas as pd

# Contar el tipo de gestión más frecuente para cada institución
def completar_tipo_gestion(grupo):
    if grupo['tipo_gestion'].isnull().all():
        return grupo
    # Obtener el tipo de gestión más frecuente (eliminando los nulos) 
    tipo_frecuente = grupo['tipo_gestion'].dropna().mode()[0]
    # Rellenar los valores nulos con el tipo de gestión más frecuente
    grupo['tipo_gestion'] = grupo['tipo_gestion'].fillna(tipo_frecuente)
    return grupo

# Aplicar la función a cada grupo de instituciones sin convertirlo en índice
carreras_is = carreras_is.groupby('institucion', as_index=False).apply(completar_tipo_gestion)

# Guardar el resultado en un archivo Excel
carreras_is.to_excel('carreras_is_actualizado.xlsx', index=False)

# Verificar si aún hay valores nulos en la columna 'tipo_gestion'
print(carreras_is['tipo_gestion'].isnull().sum())

C:\Users\gimen\AppData\Local\Temp\ipykernel_1904\4002539068.py:14: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  carreras_is = carreras_is.groupby('institucion', as_index=False).apply(completar_tipo_gestion)

0

# Verificacion de inconsistencias

In [644]:
import pandas as pd

# Crear copias de los DataFrames originales
titulos_is_copy = titulos_is.copy()
carreras_is_copy = carreras_is.copy()

# Renombrar la columna 'titulo' en cada copia para diferenciarlas
titulos_is_copy = titulos_is_copy.rename(columns={'titulo': 'titulo_titulos'})
carreras_is_copy = carreras_is_copy.rename(columns={'titulo': 'titulo_carrera'})

# Paso 1: Crear un DataFrame combinado que indica de dónde provienen las filas
merged_df = pd.merge(
    titulos_is_copy[['carrera', 'institucion', 'tipo_institucion', 'titulo_titulos']],
    carreras_is_copy[['carrera', 'institucion', 'tipo_institucion', 'titulo_carrera']],
    left_on=['carrera', 'institucion', 'tipo_institucion', 'titulo_titulos'],
    right_on=['carrera', 'institucion', 'tipo_institucion', 'titulo_carrera'],
    how='outer',
    indicator=True
)

# Paso 2: Filtrar las filas que están solo en uno de los DataFrames
not_matching = merged_df[merged_df['_merge'] != 'both']

# Paso 3: Exportar a Excel
not_matching.to_excel('valores_no_coincidentes_IS.xlsx', index=False)
carreras_is_copy = carreras_is_copy.rename(columns={'institucion': 'institucion_carrera'})
carreras_is_copy = carreras_is_copy.rename(columns={'carrera': 'carrera_carreras'})
# Filtrar el DataFrame para obtener solo las filas donde _merge es 'left_only'
left_only = merged_df[merged_df['_merge'] == 'left_only']

# Imprimir el número de filas left_only
print("Número de filas left_only:", left_only.shape[0])

Número de filas left_only: 11697

# Limpieza de inconsistencias IS

In [658]:
from fuzzywuzzy import fuzz
import pandas as pd

# Función para extraer la parte posterior a 'AREA'
def extract_after_area(text):
    if 'AREA' in text:
        return text.split('AREA', 1)[-1].strip()  # Extraer lo que sigue después de 'AREA'
    return None  # Si no tiene 'AREA', devolver None

# Función para verificar palabras clave
def check_keywords(text1, text2):
    keywords = ['CIENCIAS BASICAS', 'CIENCIAS SOCIALES', 'FISIOTERAPIA', 'KINESIOLOGIA', 'PSICOLOGIA', 'EDUCACION FISICA']
    for keyword in keywords:
        if keyword in text1 and keyword not in text2:
            return True
        if keyword in text2 and keyword not in text1:
            return True
    return False

# Función de coincidencia difusa optimizada
def fuzzy_unify(row, carreras_is, threshold=75):
    best_match = None
    best_score = 0

    carreras_is_filtered = carreras_is[
        (carreras_is['institucion_carrera'] == row['institucion']) &
        (carreras_is['tipo_institucion'] == row['tipo_institucion'])
    ]

    row['carrera_carreras'] = None
    row['titulo_carrera'] = None
    row['institucion_carrera'] = None

    for _, carrera_row in carreras_is_filtered.iterrows():
        # Extraer partes después de 'AREA'
        area_row_1 = extract_after_area(row['carrera'])
        area_row_2 = extract_after_area(carrera_row['carrera_carreras'])

        if area_row_1 and area_row_2:  # Ambas tienen 'AREA'
            area_score = fuzz.ratio(area_row_1, area_row_2)
            if area_score < 70:  # Si la parte después de 'AREA' no es similar
                avg_score = 60  # Asignar un puntaje bajo
            else:
                carrera_score = fuzz.partial_ratio(row['carrera'], carrera_row['carrera_carreras'])
                titulo_score = fuzz.partial_ratio(row['titulo_titulos'], carrera_row['titulo_carrera'])
                avg_score = (carrera_score + titulo_score) / 2
        elif area_row_1 or area_row_2:  # Solo una de las partes tiene 'AREA'
            avg_score = 60  # Puntaje bajo
        else:
            carrera_score = fuzz.partial_ratio(row['carrera'], carrera_row['carrera_carreras'])
            titulo_score = fuzz.partial_ratio(row['titulo_titulos'], carrera_row['titulo_carrera'])
            avg_score = (carrera_score + titulo_score) / 2

        # Verificar palabras clave
        if check_keywords(row['carrera'], carrera_row['carrera_carreras']):
            avg_score *= 0.5  # Reducir el puntaje a la mitad si hay un desajuste en las palabras clave

        if avg_score > best_score:
            best_score = avg_score
            best_match = carrera_row

    if best_score >= threshold and best_match is not None:
        row['carrera_unificada'] = best_match['carrera_carreras']
        row['titulo_unificado'] = best_match['titulo_carrera']
        row['institucion_unificada'] = best_match['institucion_carrera']
        row['carrera_carreras'] = best_match['carrera_carreras']
        row['titulo_carrera'] = best_match['titulo_carrera']
        row['institucion_carrera'] = best_match['institucion_carrera']
    else:
        row['carrera_unificada'] = row['carrera']
        row['titulo_unificada'] = row['titulo_titulos']
        row['institucion_unificada'] = row['institucion']

    row['similarity_score'] = best_score
    return row

# Aplicar la coincidencia difusa
left_only_unified = left_only.apply(fuzzy_unify, args=(carreras_is_copy,), axis=1)

# Seleccionar las columnas en el orden deseado
left_only_unified = left_only_unified[[
    'carrera',
    'carrera_carreras',
    'carrera_unificada', 
    'titulo_titulos',
    'titulo_carrera',
    'titulo_unificado',
    'institucion', 
    'institucion_carrera',
    'institucion_unificada',
    'similarity_score'
]]

# Exportar a un archivo Excel con el nombre modificado
left_only_unified.to_excel('unificacion_left_only_is.xlsx', index=False)
print("Archivo exportado: 'unificacion_left_only_is.xlsx'")

Archivo exportado: 'unificacion_left_only_is.xlsx'

# REEMPLAZAR CAMPOS

In [662]:
# Paso 1: Filtrar las filas de left_only_unified con un puntaje mayor o igual a 90
left_only_unified_filtered = left_only_unified[left_only_unified['similarity_score'] >= 89.5]

# Paso 2: Reemplazar los valores en titulos_cre
for _, row in left_only_unified_filtered.iterrows():
    # Buscar coincidencias en titulos_cre
    condition = (
        (titulos_is['carrera'] == row['carrera']) &
        (titulos_is['titulo'] == row['titulo_titulos']) &
        (titulos_is['institucion'] == row['institucion'])
    )
    
    # Reemplazar los valores en titulos_cre si hay coincidencias
    titulos_is.loc[condition, 'carrera'] = row['carrera_unificada']
    titulos_is.loc[condition, 'titulo'] = row['titulo_unificado']

# Puedes guardar el DataFrame actualizado en un archivo Excel o CSV si lo deseas
titulos_is.to_excel('titulos_is_actualizado.xlsx', index=False)
print("Archivo exportado: 'titulos_is_actualizado.xlsx'")

Archivo exportado: 'titulos_is_actualizado.xlsx'

# SEGUNDA VERIFICACION

In [663]:
import pandas as pd

# Crear copias de los DataFrames originales
titulos_is_copy = titulos_is.copy()
carreras_is_copy = carreras_is.copy()

# Renombrar la columna 'titulo' en cada copia para diferenciarlas
titulos_is_copy = titulos_is_copy.rename(columns={'titulo': 'titulo_titulos'})
carreras_is_copy = carreras_is_copy.rename(columns={'titulo': 'titulo_carrera'})

# Paso 1: Crear un DataFrame combinado que indica de dónde provienen las filas
merged_df = pd.merge(
    titulos_is_copy[['carrera', 'institucion', 'tipo_institucion', 'titulo_titulos']],
    carreras_is_copy[['carrera', 'institucion', 'tipo_institucion', 'titulo_carrera']],
    left_on=['carrera', 'institucion', 'tipo_institucion', 'titulo_titulos'],
    right_on=['carrera', 'institucion', 'tipo_institucion', 'titulo_carrera'],
    how='outer',
    indicator=True
)

# Paso 2: Filtrar las filas que están solo en uno de los DataFrames
not_matching = merged_df[merged_df['_merge'] != 'both']

# Paso 3: Exportar a Excel
not_matching.to_excel('valores_no_coincidentes_IS.xlsx', index=False)
carreras_is_copy = carreras_is_copy.rename(columns={'institucion': 'institucion_carrera'})
carreras_is_copy = carreras_is_copy.rename(columns={'carrera': 'carrera_carreras'})
# Filtrar el DataFrame para obtener solo las filas donde _merge es 'left_only'
left_only = merged_df[merged_df['_merge'] == 'left_only']

# Imprimir el número de filas left_only
print("Número de filas left_only:", left_only.shape[0])

Número de filas left_only: 4939

# UNION FINAL IS

In [666]:
import pandas as pd

# Paso 1: Eliminar duplicados en las columnas clave de carreras
df_merged_unique = carreras_is.drop_duplicates(
    subset=['carrera', 'institucion', 'tipo_institucion', 'titulo']
)

# Paso 2: Realizar el merge con las combinaciones únicas
merged_final_IS = pd.merge(
    titulos_is, 
    df_merged_unique, 
    left_on=['carrera', 'institucion', 'tipo_institucion', 'titulo'], 
    right_on=['carrera', 'institucion', 'tipo_institucion', 'titulo'], 
    how='left'  # Aquí cambiamos a 'left' para mantener todas las filas de df_titulos_v2_limpio_CRE
)

# Paso 2: Guardar el DataFrame en un archivo Excel
merged_final_IS.to_excel('IS_FINAL.xlsx', index=False)
# Imprimir la forma y los encabezados de df_titulos_v2_limpio_CRE
print("Shape del DataFrame TITULOS V2:", titulos_is.shape)


# Imprimir la forma y los encabezados del DataFrame final
print("Shape del DataFrame final:", merged_final_IS.shape)

Shape del DataFrame TITULOS V2: (72944, 10)
Shape del DataFrame final: (72944, 13)

# INSTITUTO TECNICO SUPERIOR

In [54]:
print("Correcciones realizadas en titulos_its:")
print(titulos_its['institucion'].unique())  # Imprime los valores únicos para ver las correcciones

print("\nCorrecciones realizadas en carreras_its:")
print(carreras_its['institucion'].unique())  # Imprime los valores únicos para ver las correcciones

Correcciones realizadas en titulos_its:
['INSTITUTO TECNICO SUPERIOR LATINOAMERICANO'
 'INSTITUTO TECNICO SUPERIOR CENTRO MEDICO BAUTISTA DEPENDIENTE DE LA UNIVERSIDAD CENTRO MEDICO BAUTISTA'
 'INSTITUTO TECNICO SUPERIOR MARIA' 'INSTITUTO TECNICO SUPERIOR KOLPING'
 'INSTITUTO TECNICO SUPERIOR EUROSUR'
 'INSTITUTO TECNICO SUPERIOR CORAZON DE JESUS'
 'INSTITUTO TECNICO SUPERIOR MONTERREY'
 'ESCUELA NACIONAL DE EDUCACION FISICA'
 'INSTITUTO TECNICO SUPERIOR ADUANERO DOCTOR JOSE GASPAR RODRIGUEZ DE FRANCIA'
 'CENTRO PRIVADO DE ESTUDIO INTEGRAL ADAMANTINO'
 'INSTITUTO TECNICO SUPERIOR DE DESARROLLO Y COOPERATIVISMO DEL PARAGUAY IDECOOP'
 'CENTRO DE FORMACION DE TECNICO SUPERIOR FORESTAL'
 'INSTITUTO TECNICO SUPERIOR DE AERONAUTICA'
 'INSTITUTO TECNICO SUPERIOR DE GASTRONOMIA IGA PARAGUAY'
 'INSTITUTO TECNICO SUPERIOR VIRGEN DE CAACUPE'
 'INSTITUTO TECNICO SUPERIOR REGIONAL DE SALUD'
 'INSTITUTO TECNICO SUPERIOR TESA PARAGUAY'
 'INSTITUTO TECNICO SUPERIOR DEL ROSARIO'
 'INSTITUTO TECNICO SUPERIOR DE ELECTRICIDAD ITC'
 'INSTITUTO TECNICO SUPERIOR EN CIENCIAS DE LA SALUD SAN BUENAVENTURA'
 'INSTITUTO TECNICO SUPERIOR EL AMANECER'
 'INSTITUTO TECNICO SUPERIOR SAN ROQUE GONZALEZ DE SANTA CRUZ'
 'ESCUELA DE MECANICA DENTAL HORIZONTE'
 'INSTITUTO TECNICO SUPERIOR VIRGEN DE LA PAZ'
 'INSTITUTO TECNICO SUPERIOR DIVINO NINO JESUS'
 'INSTITUTO TECNICO SUPERIOR SARA EGUSQUIZA DE CHAVEZ'
 'INSTITUTO TECNICO SUPERIOR MONSENOR EMILIO SOSA GAONA'
 'INSTITUTO TECNICO SUPERIOR DEL SERVICIO NACIONAL DE PROMOCION PROFESIONAL SEDE CENTRO TECNOLOGICO DE AVANZADA PARAGUAY COREA'
 'INSTITUTO DE FORMACION TECNICA SUPERIOR INFORTES'
 'INSTITUTO TECNICO SUPERIOR CENTRO DE FORMACION Y CAPACITACION LABORAL DEL SECTOR ELECTRICO DEL PARAGUAY'
 'INSTITUTO TECNICO SUPERIOR SAN IGNACIO DE LOYOLA'
 'INSTITUTO TECNICO SUPERIOR SAN FRANCISCO'
 'INSTITUTO TECNICO SUPERIOR EN DDHH SILVANO ORTELLADO FLORES'
 'INSTITUTO TECNICO SUPERIOR SAN MARCOS'
 'INSTITUTO TECNICO SUPERIOR PROFESIONAL DE EDUCACION IPES'
 'INSTITUTO TECNICO SUPERIOR DORA GIMENEZ'
 'INSTITUTO TECNICO SUPERIOR SAN BLAS'
 'INSTITUTO TECNICO SUPERIOR DE PARAGUAY'
 'INSTITUTO TECNICO SUPERIOR MISION DE AMISTAD' 'COLEGIO TECNICO NACIONAL'
 'INSTITUTO TECNICO SUPERIOR MONTECARLO'
 'CENTRO DE CAPACITACION TECNICA SUPERIOR GENERAL BERNARDINO CABALLERO'
 'INSTITUTO TECNICO SUPERIOR DE SANIDAD MILITAR GENERAL DE SAN DOCTOR VICTOR PASTOR IDOYAGA AYALA'
 'INSTITUTO DE FORMACION TECNICA SUPERIOR DEL PARAGUAY'
 'INSTITUTO TECNICO SUPERIOR KOE PYAHU'
 'INSTITUTO TECNICO SUPERIOR DE LA IMAGEN'
 'INSTITUTO TECNICO SUPERIOR GAMMA'
 'INSTITUTO TECNICO SUPERIOR FUNDACION SANTIAGO PEDRO MAINERO'
 'PRIMER INSTITUTO PARAGUAYO DE ESTUDIOS DE PROTOCOLO Y CEREMONIAL'
 'INSTITUTO TECNICO SUPERIOR DE AGENTES DE SALUD'
 'INSTITUTO TECNICO SUPERIOR EN SALUD'
 'ESCUELA DE FORMACION DE ASISTENTES PARA EMPRESAS DE SERVICIO EFAES'
 'INSTITUTO TECNICO SUPERIOR DE HOTELERIA Y TURISMO VATELPARAGUAY'
 'INSTITUTO TECNICO SUPERIOR DE LA ESCUELA NAUTICA DE LA ARMADA'
 'INSTITUTO NACIONAL DE AERONAUTICA CIVIL INAC'
 'INSTITUTO TECNICO SUPERIOR EN TELECOMUNICACIONES'
 'INSTITUTO TECNICO SUPERIOR DE SALUD YUTY'
 'INSTITUTO TECNICO SUPERIOR SAN ESTANISLAO'
 'INSTITUTO TECNICO SUPERIOR DE FORMACION INTEGRAL PARAGUAYA'
 'INSTITUTO TECNICO SUPERIOR CENTRO FAMILIAR DE ADORACION ITSCFA'
 'INSTITUTO TECNICO SUPERIOR DE ADMINISTRACION PUBLICA'
 'INSTITUTO TECNICO SUPERIOR JESUS DE NAZARET'
 'INSTITUTO TECNICO SUPERIOR HIPOCRATES'
 'INSTITUTO TECNICO SUPERIOR NUESTRA SENORA DE GUADALUPE'
 'INSTITUTO TECNICO SUPERIOR SAN BERNARDO'
 'INSTITUTO TECNICO SUPERIOR EN CIENCIAS GEOGRAFICAS'
 'INSTITUTO TECNICO SUPERIOR RAMON INDALECIO CARDOZO'
 'INSTITUTO TECNICO SUPERIOR CARRERAS'
 'INSTITUTO TECNICO SUPERIOR SAN JUAN BAUTISTA'
 'INSTITUTO TECNICO SUPERIOR ASUNCION'
 'ESCUELA PARAGUAYA DE ENFERMERIA YCIENCIAS DE LA SALUD'
 'INSTITUTO TECNICO SUPERIOR LATIN'
 'INSTITUTO TECNICO SUPERIOR DE TEOLOGIA SAN CARLOS DUARTE COSTA'
 'INSTITUTO TECNICO SUPERIOR ACADEMO'
 'INSTITUTO TECNICO SUPERIOR SANTA TERESITA'
 'INSTITUTO TECNICO SUPERIOR DE LAS CATARATAS'
 'INSTITUTO TECNICO SUPERIOR CENTRO PARAGUAYO DEL SABER'
 'INSTITUTO TECNICO SUPERIOR VALLE PE'
 'INSTITUTO TECNICO SUPERIOR LEGISLATIVO DE LA HONORABLE CAMARA DE DIPUTADOS'
 'INSTITUTO TECNICO SUPERIOR NUESTRA SENORA DE FATIMA'
 'INSTITUTO TECNICO SUPERIOR CENTRO PARAGUAYO DE PRODUCTIVIDAD Y CALIDAD CEPROCAL'
 'INSTITUTO TECNICO SUPERIOR MULTIESPACIO EDUCATIVO INTERNACIONAL'
 'INSTITUTO TECNICO SUPERIOR CENTRO TECNOLOGICO EMANUEL CTE'
 'INSTITUTO TECNICO SUPERIOR SANTA ELENA'
 'INSTITUTO TECNICO SUPERIOR DEL SERVICIO NACIONAL DE PROMOCION PROFESIONAL SNPP'
 'INSTITUTO DE ADMINISTRACION BANCARIA INABANC'
 'INSTITUTO TECNICO SUPERIOR LA ESPERANZA'
 'INSTITUTO TECNICO SUPERIOR SANTA ROSA'
 'INSTITUTO TECNICO SUPERIOR INMACULADO CORAZON DE MARIA'
 'INSTITUTO TECNICO SUPERIOR FISIOMEDIC PARAGUAY'
 'INSTITUTO TECNICO SUPERIOR VITAL'
 'INSTITUTO TECNICO SUPERIOR DE ESTUDIOS CULTURALES Y LINGUISTICOS YVY MARAEY'
 'INSTITUTO TECNICO SUPERIOR PARAGUAYO DE ESTETICA INTEGRAL'
 'INSTITUTO TECNICO SUPERIOR PROFESOR DOMINGO OCAMPOS'
 'INSTITUTO TECNICO SUPERIOR NUEVA ESPERANZA'
 'INSTITUTO TECNICO SUPERIOR SANTO DOMINGO'
 'INSTITUTO TECNICO SUPERIOR OHARA'
 'INSTITUTO TECNICO SUPERIOR JESUS DE NAZARETH'
 'INSTITUTO TECNICO SUPERIOR DE FORMACION TECNICA SUPERIORINFORTES'
 'INSTITUTO TECNICO SUPERIOR INTERNACIONAL DEL DEPORTE'
 'INSTITUTO TECNICO SUPERIOR INCOTEC INTERNACIONAL'
 'INSTITUTO TECNICO SUPERIOR DEPARTAMENTAL DOCTOR EUSEBIO AYALA'
 'ESCUELA NACIONAL DE COMERCIO NDEG 2 PROFESOR PRUDENCIO VIDAL ZELAYA'
 'INSTITUTO TECNICO SUPERIOR BUENA MADRE'
 'INSTITUTO TECNICO SUPERIOR DOCTOR CARLOS PASTORE'
 'INSTITUTO TECNICO SUPERIOR GPE GESTION POLITECNICA EDUCATIVA'
 'INSTITUTO TECNICO SUPERIOR ARANDU'
 'INSTITUTO TECNICO SUPERIOR MBOE RAITY SAN IGNACIO PARAGUARI'
 'INSTITUTO TECNICO SUPERIOR UNE SN'
 'INSTITUTO TECNICO SUPERIOR DE ARTE CULINARIO PROFESOR DEYMA DE KERLING'
 'INSTITUTO TECNICO SUPERIOR ALAS PARAGUAYAS'
 'INSTITUTO TECNICO SUPERIOR SANTA ANA'
 'INSTITUTO TECNICO SUPERIOR JUAN PABLO II'
 'INSTITUTO TECNICO SUPERIOR COLONIAS UNIDAS'
 'INSTITUTO TECNICO SUPERIOR SERMAS'
 'INSTITUTO TECNICO SUPERIOR DE OSTEOPATIA Y ESPECIALIDADES DEL PARAGUAY ITSOEP'
 'INSTITUTO TECNICO SUPERIOR ARAMI'
 'INSTITUTO TECNICO SUPERIOR SALTO DEL GUAIRA'
 'INSTITUTO TECNICO SUPERIOR VILLARRICA'
 'INSTITUTO TECNICO SUPERIOR DEPARTAMENTAL MUNICIPAL YPACARAI'
 'INSTITUTO TECNICO SUPERIOR DE FORMACION EN POLITICA ELECTORAL DE LA JUSTICIA ELECTORAL IPEL'
 'INSTITUTO TECNICO SUPERIOR BIOCELL'
 'INSTITUTO TECNICO SUPERIOR NUESTRA SENORA STELLA MARIS'
 'COLEGIO DE POLICIA SARGENTO AYUDANTE JOSE MERLO SARAVIA'
 'INSTITUTO TECNICO SUPERIOR ACADEMIA CREATIVA DEL PARAGUAY'
 'INSTITUTO TECNICO SUPERIOR DE LA ARMADA TENIENTE JOSE MARIA FARINA'
 'INSTITUTO TECNICO SUPERIOR INTERNACIONAL DE ENCARNACION'
 'INSTITUTO TECNICO SUPERIOR EL MAESTRO'
 'INSTITUTO TECNICO SUPERIOR INVICTUS']

Correcciones realizadas en carreras_its:
['INSTITUTO TECNICO SUPERIOR DEL ROSARIO'
 'INSTITUTO TECNICO SUPERIOR DE AERONAUTICA' nan
 'ESCUELA NACIONAL DE EDUCACION FISICA'
 'INSTITUTO TECNICO SUPERIOR DE LA ARMADA TENIENTE JOSE MARIA FARINA'
 'INSTITUTO DE ADMINISTRACION BANCARIA INABANC'
 'INSTITUTO TECNICO SUPERIOR VITAL'
 'INSTITUTO TECNICO SUPERIOR DE ELECTRICIDAD ITC'
 'INSTITUTO TECNICO SUPERIOR CENTRO PARAGUAYO DEL SABER'
 'INSTITUTO TECNICO SUPERIOR DEL SERVICIO NACIONAL DE PROMOCION PROFESIONAL SNPP'
 'INSTITUTO TECNICO SUPERIOR SALTO DEL GUAIRA'
 'INSTITUTO TECNICO SUPERIOR SANTO DOMINGO'
 'INSTITUTO TECNICO SUPERIOR ACADEMO'
 'INSTITUTO TECNICO SUPERIOR SANTA TERESITA'
 'INSTITUTO TECNICO SUPERIOR MBOE RAITY SAN IGNACIO PARAGUARI'
 'INSTITUTO TECNICO SUPERIOR JESUS DE NAZARET'
 'INSTITUTO TECNICO SUPERIOR HIPOCRATES'
 'ESCUELA NACIONAL DE COMERCIO NDEG 2 PROFESOR PRUDENCIO VIDAL ZELAYA'
 'INSTITUTO TECNICO SUPERIOR OHARA'
 'INSTITUTO TECNICO SUPERIOR FISIOMEDIC PARAGUAY'
 'INSTITUTO TECNICO SUPERIOR DE LA ESCUELA NAUTICA DE LA ARMADA'
 'INSTITUTO DE FORMACION TECNICA SUPERIOR DEL PARAGUAY'
 'INSTITUTO TECNICO SUPERIOR DE GASTRONOMIA IGA PARAGUAY'
 'INSTITUTO TECNICO SUPERIOR SAN IGNACIO DE LOYOLA'
 'INSTITUTO TECNICO SUPERIOR NUESTRA SENORA DE FATIMA'
 'INSTITUTO TECNICO SUPERIOR DE FORMACION TECNICA SUPERIORINFORTES'
 'INSTITUTO TECNICO SUPERIOR SANTA ELENA'
 'INSTITUTO TECNICO SUPERIOR CENTRO FAMILIAR DE ADORACION ITSCFA'
 'INSTITUTO TECNICO SUPERIOR DE SALUD YUTY'
 'INSTITUTO TECNICO SUPERIOR DIVINO NINO JESUS'
 'INSTITUTO TECNICO SUPERIOR KOLPING'
 'INSTITUTO TECNICO SUPERIOR JESUS DE NAZARETH'
 'INSTITUTO TECNICO SUPERIOR BUENA MADRE'
 'INSTITUTO TECNICO SUPERIOR DEL SERVICIO NACIONAL DE PROMOCION PROFESIONAL SEDE CENTRO TECNOLOGICO DE AVANZADA PARAGUAY COREA'
 'INSTITUTO TECNICO SUPERIOR MULTIESPACIO EDUCATIVO INTERNACIONAL'
 'INSTITUTO TECNICO SUPERIOR MONTERREY'
 'INSTITUTO TECNICO SUPERIOR DE AGENTES DE SALUD'
 'INSTITUTO TECNICO SUPERIOR SAN MARCOS'
 'INSTITUTO TECNICO SUPERIOR SARA EGUSQUIZA DE CHAVEZ'
 'INSTITUTO TECNICO SUPERIOR CENTRO PARAGUAYO DE PRODUCTIVIDAD Y CALIDAD CEPROCAL'
 'INSTITUTO TECNICO SUPERIOR SANTA ROSA'
 'INSTITUTO TECNICO SUPERIOR GAMMA' 'INSTITUTO TECNICO SUPERIOR ASUNCION'
 'INSTITUTO TECNICO SUPERIOR SAN ROQUE GONZALEZ DE SANTA CRUZ'
 'INSTITUTO TECNICO SUPERIOR PROFESIONAL DE EDUCACION IPES'
 'INSTITUTO TECNICO SUPERIOR GPE GESTION POLITECNICA EDUCATIVA'
 'INSTITUTO TECNICO SUPERIOR INMACULADO CORAZON DE MARIA'
 'INSTITUTO TECNICO SUPERIOR NUEVA ESPERANZA'
 'INSTITUTO TECNICO SUPERIOR VIRGEN DE CAACUPE'
 'INSTITUTO TECNICO SUPERIOR DE ESTUDIOS CULTURALES Y LINGUISTICOS YVY MARAEY'
 'INSTITUTO TECNICO SUPERIOR SAN BLAS'
 'INSTITUTO TECNICO SUPERIOR MONTECARLO'
 'INSTITUTO TECNICO SUPERIOR DE LAS CATARATAS' 'COLEGIO TECNICO NACIONAL'
 'INSTITUTO TECNICO SUPERIOR CENTRO TECNOLOGICO EMANUEL CTE'
 'INSTITUTO TECNICO SUPERIOR LEGISLATIVO DE LA HONORABLE CAMARA DE DIPUTADOS'
 'INSTITUTO TECNICO SUPERIOR DE FORMACION INTEGRAL PARAGUAYA'
 'CENTRO DE CAPACITACION TECNICA SUPERIOR GENERAL BERNARDINO CABALLERO'
 'INSTITUTO TECNICO SUPERIOR INTERNACIONAL DEL DEPORTE'
 'INSTITUTO TECNICO SUPERIOR DEPARTAMENTAL DOCTOR EUSEBIO AYALA'
 'INSTITUTO TECNICO SUPERIOR LA ESPERANZA'
 'INSTITUTO TECNICO SUPERIOR ARAMI'
 'INSTITUTO TECNICO SUPERIOR PROFESOR DOMINGO OCAMPOS'
 'INSTITUTO TECNICO SUPERIOR ARANDU' 'INSTITUTO TECNICO SUPERIOR EUROSUR'
 'INSTITUTO TECNICO SUPERIOR UNE SN'
 'INSTITUTO TECNICO SUPERIOR SAN JUAN BAUTISTA'
 'INSTITUTO TECNICO SUPERIOR ALAS PARAGUAYAS'
 'INSTITUTO TECNICO SUPERIOR INCOTEC INTERNACIONAL'
 'INSTITUTO TECNICO SUPERIOR SAN BERNARDO'
 'INSTITUTO TECNICO SUPERIOR DEPARTAMENTAL MUNICIPAL YPACARAI'
 'INSTITUTO TECNICO SUPERIOR DOCTOR CARLOS PASTORE'
 'INSTITUTO TECNICO SUPERIOR INTERNACIONAL DE ENCARNACION'
 'INSTITUTO TECNICO SUPERIOR VALLE PE'
 'INSTITUTO TECNICO SUPERIOR EN DDHH SILVANO ORTELLADO FLORES'
 'INSTITUTO TECNICO SUPERIOR DE OSTEOPATIA Y ESPECIALIDADES DEL PARAGUAY ITSOEP'
 'INSTITUTO DE FORMACION TECNICA SUPERIOR INFORTES'
 'INSTITUTO TECNICO SUPERIOR EL AMANECER'
 'INSTITUTO TECNICO SUPERIOR DE ARTE CULINARIO PROFESOR DEYMA DE KERLING'
 'INSTITUTO TECNICO SUPERIOR SAN ESTANISLAO'
 'INSTITUTO TECNICO SUPERIOR SAN FRANCISCO'
 'INSTITUTO TECNICO SUPERIOR MONSENOR EMILIO SOSA GAONA'
 'INSTITUTO TECNICO SUPERIOR BIOCELL'
 'INSTITUTO TECNICO SUPERIOR DE PARAGUAY'
 'INSTITUTO TECNICO SUPERIOR KOE PYAHU'
 'INSTITUTO TECNICO SUPERIOR VILLARRICA'
 'INSTITUTO TECNICO SUPERIOR CENTRO MEDICO BAUTISTA DEPENDIENTE DE LA UNIVERSIDAD CENTRO MEDICO BAUTISTA'
 'INSTITUTO TECNICO SUPERIOR EN TELECOMUNICACIONES'
 'INSTITUTO TECNICO SUPERIOR COLONIAS UNIDAS'
 'INSTITUTO NACIONAL DE AERONAUTICA CIVIL INAC'
 'PRIMER INSTITUTO PARAGUAYO DE ESTUDIOS DE PROTOCOLO Y CEREMONIAL'
 'INSTITUTO TECNICO SUPERIOR NUESTRA SENORA STELLA MARIS'
 'INSTITUTO TECNICO SUPERIOR SANTA ANA'
 'INSTITUTO TECNICO SUPERIOR DORA GIMENEZ'
 'INSTITUTO TECNICO SUPERIOR SERMAS'
 'INSTITUTO TECNICO SUPERIOR JUAN PABLO II'
 'INSTITUTO TECNICO SUPERIOR EN CIENCIAS DE LA SALUD SAN BUENAVENTURA'
 'INSTITUTO TECNICO SUPERIOR CARRERAS'
 'ESCUELA DE MECANICA DENTAL HORIZONTE'
 'INSTITUTO TECNICO SUPERIOR CORAZON DE JESUS'
 'INSTITUTO TECNICO SUPERIOR CENTRO DE FORMACION Y CAPACITACION LABORAL DEL SECTOR ELECTRICO DEL PARAGUAY'
 'INSTITUTO TECNICO SUPERIOR ACADEMIA CREATIVA DEL PARAGUAY'
 'INSTITUTO TECNICO SUPERIOR FUNDACION SANTIAGO PEDRO MAINERO'
 'INSTITUTO TECNICO SUPERIOR MARIA'
 'INSTITUTO TECNICO SUPERIOR DE FORMACION EN POLITICA ELECTORAL DE LA JUSTICIA ELECTORAL IPEL'
 'INSTITUTO TECNICO SUPERIOR VIRGEN DE LA PAZ'
 'INSTITUTO TECNICO SUPERIOR NUESTRA SENORA DE GUADALUPE'
 'INSTITUTO TECNICO SUPERIOR PARAGUAYO DE ESTETICA INTEGRAL'
 'INSTITUTO TECNICO SUPERIOR DE SANIDAD MILITAR GENERAL DE SAN DOCTOR VICTOR PASTOR IDOYAGA AYALA'
 'INSTITUTO TECNICO SUPERIOR TESA PARAGUAY'
 'ESCUELA DE FORMACION DE ASISTENTES PARA EMPRESAS DE SERVICIO EFAES'
 'INSTITUTO TECNICO SUPERIOR EL MAESTRO'
 'INSTITUTO TECNICO SUPERIOR ADUANERO DOCTOR JOSE GASPAR RODRIGUEZ DE FRANCIA'
 'INSTITUTO TECNICO SUPERIOR DE LA IMAGEN'
 'INSTITUTO TECNICO SUPERIOR DE TEOLOGIA SAN CARLOS DUARTE COSTA'
 'CENTRO DE FORMACION DE TECNICO SUPERIOR FORESTAL'
 'INSTITUTO TECNICO SUPERIOR DE HOTELERIA Y TURISMO VATELPARAGUAY'
 'INSTITUTO TECNICO SUPERIOR RAMON INDALECIO CARDOZO'
 'INSTITUTO TECNICO SUPERIOR MISION DE AMISTAD'
 'INSTITUTO TECNICO SUPERIOR DE ADMINISTRACION PUBLICA'
 'INSTITUTO TECNICO SUPERIOR EN CIENCIAS GEOGRAFICAS'
 'INSTITUTO TECNICO SUPERIOR REGIONAL DE SALUD'
 'ESCUELA PARAGUAYA DE ENFERMERIA YCIENCIAS DE LA SALUD'
 'INSTITUTO TECNICO SUPERIOR LATINOAMERICANO'
 'INSTITUTO TECNICO SUPERIOR INVICTUS'
 'INSTITUTO TECNICO SUPERIOR EN SALUD' 'INSTITUTO TECNICO SUPERIOR LATIN']

# INSTITUTOS QUE ESTAN EN UN SOLO LUGAR

In [167]:
# Valores únicos en 'titulos_cre'
instituciones_titulos = set(titulos_its['institucion'].unique())

# Valores únicos en 'carreras_cre'
instituciones_carreras = set(carreras_its['institucion'].unique())

# Instituciones que están en 'titulos_cre' pero no en 'carreras_cre'
solo_en_titulos = instituciones_titulos - instituciones_carreras
print("Instituciones que están solo en titulos_its:")
print(solo_en_titulos)

# Instituciones que están en 'carreras_cre' pero no en 'titulos_cre'
solo_en_carreras = instituciones_carreras - instituciones_titulos
print("\nInstituciones que están solo en carreras_its:")
print(solo_en_carreras)

Instituciones que están solo en titulos_its:
{'COLEGIO DE POLICIA SARGENTO AYUDANTE JOSE MERLO SARAVIA', 'CENTRO PRIVADO DE ESTUDIO INTEGRAL ADAMANTINO'}

Instituciones que están solo en carreras_its:
{'INSTITUTO TECNICO SUPERIOR DE DISENO Y TECNOLOGIAIDT', 'INSTITUTO TECNICO SUPERIOR MARIA AUXILIADORA REPATRIACION', 'INSTITUTO TECNICO SUPERIOR ICEFA INSTITUTO DE CAPACITACION ECONOMICA FINANCIERA ADMINISTRATIVA Y AMBIENTAL', 'INSTITUTO TECNICO SUPERIOR DE MECANICA AUTOMOTRIZ SOP TRNP LUCIO DE JESUS TORRASCA GALVAN', 'INSTITUTO TECNICO SUPERIOR CENTRO DE EDUCACION PROFESIONAL CEP', 'INSTITUTO TECNICO SUPERIOR PRICEWATERHOUSECOOPERS ACADEMY', 'INSTITUTO TECNICO SUPERIOR CENTRO DE INFORMACION Y RECURSOS PARA EL DESARROLLO CIRD', 'INSTITUTO TECNICO SUPERIOR PARAGUAYO DE EDUCACION PARA EL DESARROLLO', 'INSTITUTO TECNICO SUPERIOR SEMBRADOR', 'INSTITUTO TECNICO SUPERIOR ALIANZA INTEGRAL ARMONIA', 'INSTITUTO TECNICO SUPERIOR CENTRO EDUCATIVO INTEGRAL DE FORMACION TECNICA Y CAPACITACION PROFESIONAL', 'INSTITUTO TECNICO SUPERIOR TRIBUTARIO DE LA SUBSECRETARIA DE ESTADO DE TRIBUTACION', 'INSTITUTO TECNICO SUPERIOR DE FORMACION INTEGRAL Y DESARROLLO PERSONAL CDI', 'INSTITUTO TECNICO SUPERIOR SA DENTAL TRAINING', 'INSTITUTO TECNICO SUPERIOR EN CIENCIAS AGROPECUARIAS DEL SERVICIO AGROPECUARIO COMANDO LOGISTICO DISERAGRO DE LAS FUERZAS ARMADAS DE LA NACION', 'INSTITUTO TECNICO SUPERIOR TEOLOGICO FILADELFIA', 'INSTITUTO TECNICO SUPERIOR ILES', 'INSTITUTO TECNICO SUPERIOR JUAN DE AYOLAS', 'INSTITUTO TECNICO SUPERIOR CENTRO DE FORMACION DE TECNICO SUPERIOR FORESTAL ALTO PARANA FILIAL ITAPUA', 'INSTITUTO NACIONAL DE LA ADMINISTRACION PUBLICA DEL PARAGUAY', 'INSTITUTO TECNICO SUPERIOR DE NINEZ Y ADOLESCENCIA', 'INSTITUTO TECNICO SUPERIOR GLORIA CARDOZO', 'INSTITUTO TECNICO SUPERIOR COLEGIO DE POLICIA SGTO AYDTE JOSE MERLO SARAVIA', 'INSTITUTO TECNICO SUPERIOR ARANDU REKA', 'INSTITUTO TECNICO SUPERIOR DE EDUCACION Y FORMACION PENITENCIARIA', 'INSTITUTO TECNICO SUPERIOR SAGRADA FAMILIA', 'INSTITUTO TECNICO SUPERIOR HENRI FAYOL ITS HF', 'INSTITUTO TECNICO SUPERIOR RENE CASSIN', 'INSTITUTO TECNICO SUPERIOR SAN ANTONIO', 'INSTITUTO TECNICO SUPERIOR SANTA RITA DE CASIA', 'INSTITUTO TECNICO SUPERIOR CENTRO DE ESTUDIOS DE DERECHO ECONOMIA Y POLITICA CEDEP', 'INSTITUO TECNICO SUPERIOR ESCUELA DE GOBIERNO EDYDSI', 'INSTITUTO TECNICO SUPERIOR RURAL DEL PARAGUAY', 'INSTITUTO TECNICO SUPERIOR CAMPUS DE CIENCIAS APLICADAS', 'INSTITUTO TECNICO SUPERIOR ORBIS VERITAS', 'INSTITUTO TECNICO SUPERIOR DE DESARROLLO AVANZADO IDA', 'INSTITUTO TECNICO SUPERIOR CONTINENTAL', 'INSTITUTO TECNICO SUPERIOR ALIANZA EDUCATIVA INTERNACIONAL', 'INSTITUTO TECNICO SUPERIOR DEPENDIENTE DEL SERVICIO NACIONAL DE PROMOCION PROFESIONAL', 'INSTITUTO TECNICO SUPERIOR SANTISIMA TRINIDAD', 'INSTITUTO TECNICO SUPERIOR MARIA AUXILIADORA', 'INSTITUTO TECNICO SUPERIOR ICM', 'INSTITUTO TECNICO SUPERIOR EPO', 'INSTITUTO DE FORMACION TECNICA SUPERIOR INFORTES DEPENDIENTE DE LA UNIVERSIDAD EVANGELICA DEL PARAGUAY', 'INSTITUTO TECNICO SUPERIOR AGROMECANICO DE CAACUPE', 'INSTITUTO TECNICO SUPERIOR DE BANDAS MILITARES TENIENTE 2DEG RVA EMILIANO RIVAROLA FERNANDEZ', 'INSTITUTO TECNICO SUPERIOR WAKE UP NEGOCIOS Y LIDERAZGO', 'INSTITUTO TECNICO SUPERIOR CENTRO CULTURAL PARAGUAYO AMERICANO', 'INSTITUTO TECNICO SUPERIOR INDIRA', 'INSTITUTO TECNICO SUPERIOR ELEVATE TRAINING CENTER', 'INSTITUTO TECNICO SUPERIOR DEL SABER', 'INSTITUTO TECNICO SUPERIOR SAN IGNACIO GUAZU', 'INSTITUTO TECNICO SUPERIOR INTEGRAL DE NEGOCIOS ATHENEA', 'INSTITUTO TECNICO SUPERIOR DE DESARROLLO SUSTENTABLE', 'INSTITUTO TECNICO SUPERIOR DE ESTUDIOS CONTABLES TRIBUTARIOS Y ADMINISTRATIVOS', 'INSTITUTO DE FORMACION Y CULTURA CIUDADANA JOSE PATRICIO GUGGARI', 'INSTITUTO TECNICO SUPERIOR UNIBRAS', 'INSTITUTO TECNICO SUPERIOR SAN BENITO DE NURCIA', 'INSTITUTO TECNICO SUPERIOR CENTRO DE INVESTIGACION Y CAPACITACION PARAGUAY CICAP', 'INSTITUTO TECNICO SUPERIOR SAN NICOLAS', 'INSTITUTO TECNICO SUPERIOR AVALOS TRAINING', 'INSTITUTO TECNICO SUPERIOR VUELVE A SONAR', 'INSTITUTO TECNICO SUPERIOR MARACANA', 'INSTITUTO TECNICO SUPERIOR EN GERENCIAMIENTO Y ADMINISTRACION NEST OF EAGLES', 'INSTITUTO TECNICO SUPERIOR DE ESTETICA INTEGRAL NORMA S GABINETE ESTETICO', 'INSTITUTO TECNICO SUPERIOR CENTRO DE FORMACION Y CAPACITACION LABORAL DEL SECTOR ELECTRICO DEL PARAGUAY CEFOCALE', 'INSTITUTO TECNICO SUPERIOR SANTA MARIA DE FE', 'INSTITUTO TECNICO SUPERIOR DEL SERVICIO NACIONAL DE PROMOCION PROFESIONAL SNPP SEDE CENTRO REGIONAL DE EDUCACION GENERAL PATRICIO ESCOBAR', 'INSTITUTO TECNICO SUPERIOR CENTRO DE ESTUDIOS BANCARIOS', 'INSTITUTO TECNICO SUPERIOR JUANI CENTER', 'INSTITUTO TECNICO SUPERIOR NUESTRA SENORA DE LA ASUNCION', 'INSTITUTO TECNICO SUPERIOR SANTA ROSA DE LIMA', 'INSTITUTO TECNICO SUPERIOR DE ACTIVIDADES EDUCATIVAS Y FISICAS FITNESS FAMILY', 'INSTITUTO TECNICO SUPERIOR DESARROLLO INTEGRAL', 'INSTITUTO TECNICO SUPERIOR HERMINIO GIMENEZ', 'INSTITUTO TECNICO SUPERIOR SAN JUDAS TADEO', 'INSTITUTO TECNICO SUPERIOR AVIADORES DEL CHACO', 'INSTITUTO TECNICO SUPERIOR ESCUELA DE GOBIERNO Y POLITICAS PUBLICAS NORBERTO BOBBIO', 'INSTITUTO TECNICO SUPERIOR DE LA DEFENSA PUBLICA', 'INSTITUTO TECNICO SUPERIOR DEL PARAGUAY', 'INSTITUTO TECNICO SUPERIOR SANTA ROSA MISTICA', 'COLEGIO MILITAR DE SUBOFICIALES DEL EJERCITO TENIENTE PRIMERO INFANTE DE RESERVA MANUEL IRALA FERNANDEZ', 'INSTITUTO TECNICO SUPERIOR CORPORATIVO RENACER', 'INSTITUTO TECNICO SUPERIOR SAGRADO CORAZON DE JESUS', 'INSTITUTO TECNICO SUPERIOR MARITIMO PORTUARIO', 'INSTITUTO TECNICO SUPERIOR EN ADMINISTRACION ADUANERA Y COMERCIO INTERNACIONAL DEL CENTRO DE DESPACHANTES DE ADUANA DEL PARAGUAY', 'INSTITUTO TECNICO SUPERIOR PZ FLIGTH SA', 'INSTITUTO TECNICO SUPERIOR CENTRO DE ESTUDIOS ESTRATEGICOS', 'INSTITUTO TECNICO SUPERIOR ATENEA', 'INSTITUTO TECNICO SUPERIOR CTELL HUMAN TECH', 'INSTITUTO TECNICO SUPERIOR MERCOSUR ITESUMER', 'INSTITUTO TECNICO SUPERIOR FUNAM', 'INSTITUTO TECNICO SUPERIOR KATUPYRY', 'INSTITUTO TECNICO SUPERIOR ESCUELA DE MATERIAL BELICO CAP NAV ING NAVAL Y AERONAUTICO JOSE ALFREDO BOZZANO BAGLIETTO EMABEL', 'INSTITUTO TECNICO SUPERIOR ORGANIZACION ESPECIALIZADA EN CAPACITACION', 'INSTITUTO TECNICO SUPERIOR FINISHING SCHOOL', 'INSTITUTO TECNICO SUPERIOR PROFESOR FRANCISCO GAONA PROFAGA', 'INSTITUTO TECNICO SUPERIOR GAUSSKISH', 'CONSERVATORIO NACIONAL DE MUSICA', 'INSTITUTO TECNICO SUPERIOR ACOMEPA CFP', 'INSTITUTO TECNICO SUPERIOR SAN FRANCISCO SOLANO', 'INSTITUTO TECNICO SUPERIOR MARIA AUXILIADORA CAPIATA', 'INSTITUTO TECNICO SUPERIOR CENTRO DE FORMACION DE TECNICO SUPERIOR FORESTAL ALTO PARANA', 'INSTITUTO TECNICO SUPERIOR SIGMA', 'INSTITUTO TECNICO SUPERIOR TEKOKATU', 'INSTITUTO TECNICO SUPERIOR BALCARCE', 'CENTRO DE EDUCACION DIRECCION ORIENTACION Y CULTURA', 'INSTITUTO TECNICO SUPERIOR LIFE EDUCATIONAL CENTER', 'INSTITUTO TECNICO SUPERIOR SANTA MARIA DEL ROSARIO', 'INSTITUTO TECNICO SUPERIOR DE FORMACION E INVESTIGACION DE LA SECRETARIA NACIONAL ANTIDROGAS SENAD'}

# verificar valores nulos

In [669]:
import pandas as pd

# Contar valores nulos en cada columna de titulos_cre
print("Valores nulos en titulos_its:")
print(titulos_its.isnull().sum())

# Contar valores nulos en cada columna de carreras_cre
print("\nValores nulos en carreras_its:")
print(carreras_its.isnull().sum())

Valores nulos en titulos_its:
anio                 0
mes                  0
documento            0
persona_id           0
nombre_completo      0
tipo_institucion     0
institucion          0
carrera              0
titulo               0
sexo                70
dtype: int64

Valores nulos en carreras_its:
tipo_institucion                 0
institucion                      0
carrera                          0
titulo                           0
tipo_gestion                    20
nivel_titulacion                 0
clasificacion_campo_amplio    2611
dtype: int64

# campo amplio

In [673]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from tqdm import tqdm

# Concatenar los dataframes
df_combined = pd.concat([carreras_is, carreras_ifd, carreras_cre, carreras_its], ignore_index=True)

# Filtrar filas donde clasificacion_campo_amplio no esté vacío para entrenamiento
df_train = df_combined.dropna(subset=['clasificacion_campo_amplio'])

# Filtrar filas donde clasificacion_campo_amplio esté vacío para predicción
df_predict = df_combined[df_combined['clasificacion_campo_amplio'].isna()]

# Vectorización de la columna 'carrera' utilizando TF-IDF
vectorizer = TfidfVectorizer()
X_train = vectorizer.fit_transform(df_train['carrera'])
X_predict = vectorizer.transform(df_predict['carrera'])

# Definir el target
y_train = df_train['clasificacion_campo_amplio']

# División de los datos de entrenamiento para validación
X_train_split, X_val_split, y_train_split, y_val_split = train_test_split(X_train, y_train, test_size=0.2, random_state=42)

# Entrenar el modelo
model = LogisticRegression(max_iter=1000)
model.fit(X_train_split, y_train_split)

# Validar el modelo
y_val_pred = model.predict(X_val_split)
print("Reporte de clasificación para datos de validación:")
print(classification_report(y_val_split, y_val_pred, zero_division=0))

# Predecir los valores faltantes en df_merged_IS y añadir el asterisco
def predecir_y_marcar(row, model, vectorizer):
    if pd.isna(row['clasificacion_campo_amplio']):
        prediccion = model.predict(vectorizer.transform([row['carrera']]))[0]
        return f"{prediccion}*"
    else:
        return row['clasificacion_campo_amplio']

carreras_its['clasificacion_campo_amplio'] = carreras_its.apply(
    lambda row: predecir_y_marcar(row, model, vectorizer),
    axis=1
)

# Exportar el dataframe resultante a Excel
carreras_its.to_excel('carreras_its_actualizado.xlsx', index=False)

# Conteo de valores vacíos por columna después de la predicción
valores_vacios_post_prediccion = carreras_its.isna().sum()
print("Total de valores vacíos por columna después de la predicción:")
print(valores_vacios_post_prediccion)

Reporte de clasificación para datos de validación:
                                                     precision    recall  f1-score   support

               ADMINISTRACION DE EMPRESAS Y DERECHO       1.00      0.96      0.98       112
       AGRICULTURA SILVICULTURA PESCA Y VETERINARIA       1.00      1.00      1.00        12
                                ARTES Y HUMANIDADES       1.00      0.77      0.87        26
       CIENCIAS NATURALES MATEMATICAS Y ESTADISTICA       0.00      0.00      0.00         1
         CIENCIAS SOCIALES PERIODISMO E INFORMACION       1.00      0.68      0.81        25
                                          EDUCACION       0.94      1.00      0.97      2022
                                         EDUCACION*       0.84      0.40      0.54       146
                INGENIERIA INDUSTRIA Y CONSTRUCCION       1.00      0.97      0.99        39
              PROGRAMAS Y CERTIFICACIONES GENERICOS       1.00      1.00      1.00         2
                                  SALUD Y BIENESTAR       0.99      0.99      0.99       478
                                 SALUD Y BIENESTAR*       0.00      0.00      0.00         6
                                          SERVICIOS       0.97      0.97      0.97        78
                                         SERVICIOS*       0.00      0.00      0.00         1
TECNOLOGIAS DE LA INFORMACION Y LA COMUNICACION TIC       1.00      0.73      0.85        30

                                           accuracy                           0.95      2978
                                          macro avg       0.77      0.68      0.71      2978
                                       weighted avg       0.95      0.95      0.95      2978

Total de valores vacíos por columna después de la predicción:
tipo_institucion               0
institucion                    0
carrera                        0
titulo                         0
tipo_gestion                  20
nivel_titulacion               0
clasificacion_campo_amplio     0
dtype: int64

# tipo gestion

In [675]:
import pandas as pd

# Contar el tipo de gestión más frecuente para cada institución
def completar_tipo_gestion(grupo):
    if grupo['tipo_gestion'].isnull().all():
        return grupo
    # Obtener el tipo de gestión más frecuente (eliminando los nulos) 
    tipo_frecuente = grupo['tipo_gestion'].dropna().mode()[0]
    # Rellenar los valores nulos con el tipo de gestión más frecuente
    grupo['tipo_gestion'] = grupo['tipo_gestion'].fillna(tipo_frecuente)
    return grupo

# Aplicar la función a cada grupo de instituciones sin convertirlo en índice
carreras_its = carreras_its.groupby('institucion', as_index=False).apply(completar_tipo_gestion)

# Guardar el resultado en un archivo Excel
carreras_its.to_excel('carreras_its_actualizado.xlsx', index=False)

# Verificar si aún hay valores nulos en la columna 'tipo_gestion'
print(carreras_is['tipo_gestion'].isnull().sum())

C:\Users\gimen\AppData\Local\Temp\ipykernel_1904\1695378727.py:14: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  carreras_its = carreras_its.groupby('institucion', as_index=False).apply(completar_tipo_gestion)

0

# VERIFICACION DE INCONSISTENCIAS

In [680]:
import pandas as pd

# Crear copias de los DataFrames originales
titulos_its_copy = titulos_its.copy()
carreras_its_copy = carreras_its.copy()

# Renombrar la columna 'titulo' en cada copia para diferenciarlas
titulos_its_copy = titulos_its_copy.rename(columns={'titulo': 'titulo_titulos'})
carreras_its_copy = carreras_its_copy.rename(columns={'titulo': 'titulo_carrera'})

# Paso 1: Crear un DataFrame combinado que indica de dónde provienen las filas
merged_df = pd.merge(
    titulos_its_copy[['carrera', 'institucion', 'tipo_institucion', 'titulo_titulos']],
    carreras_its_copy[['carrera', 'institucion', 'tipo_institucion', 'titulo_carrera']],
    left_on=['carrera', 'institucion', 'tipo_institucion', 'titulo_titulos'],
    right_on=['carrera', 'institucion', 'tipo_institucion', 'titulo_carrera'],
    how='outer',
    indicator=True
)

# Paso 2: Filtrar las filas que están solo en uno de los DataFrames
not_matching = merged_df[merged_df['_merge'] != 'both']

# Paso 3: Exportar a Excel
not_matching.to_excel('valores_no_coincidentes_ITS.xlsx', index=False)
carreras_its_copy = carreras_its_copy.rename(columns={'institucion': 'institucion_carrera'})
carreras_its_copy = carreras_its_copy.rename(columns={'carrera': 'carrera_carreras'})
# Filtrar el DataFrame para obtener solo las filas donde _merge es 'left_only'
left_only = merged_df[merged_df['_merge'] == 'left_only']

# Imprimir el número de filas left_only
print("Número de filas left_only:", left_only.shape[0])

Número de filas left_only: 11492

# LIMPIEZA DE INCONSISTENCIAS

In [687]:
from fuzzywuzzy import fuzz
import pandas as pd

# Función para extraer la parte posterior a 'AREA'
def extract_after_area(text):
    if 'AREA' in text:
        return text.split('AREA', 1)[-1].strip()  # Extraer lo que sigue después de 'AREA'
    return None  # Si no tiene 'AREA', devolver None

# Función para verificar palabras clave
def check_keywords(text1, text2):
    keywords = ['CIENCIAS BASICAS', 'CIENCIAS SOCIALES', 'FISIOTERAPIA', 'KINESIOLOGIA', 'PSICOLOGIA', 'EDUCACION FISICA']
    for keyword in keywords:
        if keyword in text1 and keyword not in text2:
            return True
        if keyword in text2 and keyword not in text1:
            return True
    return False

# Función de coincidencia difusa optimizada
def fuzzy_unify(row, carreras_its, threshold=75):
    best_match = None
    best_score = 0

    carreras_its_filtered = carreras_its[
        (carreras_its['institucion_carrera'] == row['institucion']) &
        (carreras_its['tipo_institucion'] == row['tipo_institucion'])
    ]

    row['carrera_carreras'] = None
    row['titulo_carrera'] = None
    row['institucion_carrera'] = None

    for _, carrera_row in carreras_its_filtered.iterrows():
        # Extraer partes después de 'AREA'
        area_row_1 = extract_after_area(row['carrera'])
        area_row_2 = extract_after_area(carrera_row['carrera_carreras'])

        if area_row_1 and area_row_2:  # Ambas tienen 'AREA'
            area_score = fuzz.ratio(area_row_1, area_row_2)
            if area_score < 70:  # Si la parte después de 'AREA' no es similar
                avg_score = 60  # Asignar un puntaje bajo
            else:
                carrera_score = fuzz.partial_ratio(row['carrera'], carrera_row['carrera_carreras'])
                titulo_score = fuzz.partial_ratio(row['titulo_titulos'], carrera_row['titulo_carrera'])
                avg_score = (carrera_score + titulo_score) / 2
        elif area_row_1 or area_row_2:  # Solo una de las partes tiene 'AREA'
            avg_score = 60  # Puntaje bajo
        else:
            carrera_score = fuzz.partial_ratio(row['carrera'], carrera_row['carrera_carreras'])
            titulo_score = fuzz.partial_ratio(row['titulo_titulos'], carrera_row['titulo_carrera'])
            avg_score = (carrera_score + titulo_score) / 2

        # Verificar palabras clave
        if check_keywords(row['carrera'], carrera_row['carrera_carreras']):
            avg_score *= 0.5  # Reducir el puntaje a la mitad si hay un desajuste en las palabras clave

        if avg_score > best_score:
            best_score = avg_score
            best_match = carrera_row

    if best_score >= threshold and best_match is not None:
        row['carrera_unificada'] = best_match['carrera_carreras']
        row['titulo_unificado'] = best_match['titulo_carrera']
        row['institucion_unificada'] = best_match['institucion_carrera']
        row['carrera_carreras'] = best_match['carrera_carreras']
        row['titulo_carrera'] = best_match['titulo_carrera']
        row['institucion_carrera'] = best_match['institucion_carrera']
    else:
        row['carrera_unificada'] = row['carrera']
        row['titulo_unificada'] = row['titulo_titulos']
        row['institucion_unificada'] = row['institucion']

    row['similarity_score'] = best_score
    return row

# Aplicar la coincidencia difusa
left_only_unified = left_only.apply(fuzzy_unify, args=(carreras_its_copy,), axis=1)

# Seleccionar las columnas en el orden deseado
left_only_unified = left_only_unified[[
    'carrera',
    'carrera_carreras',
    'carrera_unificada', 
    'titulo_titulos',
    'titulo_carrera',
    'titulo_unificado',
    'institucion', 
    'institucion_carrera',
    'institucion_unificada',
    'similarity_score'
]]

# Exportar a un archivo Excel con el nombre modificado
left_only_unified.to_excel('unificacion_left_only_its.xlsx', index=False)
print("Archivo exportado: 'unificacion_left_only_its.xlsx'")

Archivo exportado: 'unificacion_left_only_its.xlsx'

# reemplazar campos

In [692]:
# Paso 1: Filtrar las filas de left_only_unified con un puntaje mayor o igual a 90
left_only_unified_filtered = left_only_unified[left_only_unified['similarity_score'] >= 100]

# Paso 2: Reemplazar los valores en titulos_cre
for _, row in left_only_unified_filtered.iterrows():
    # Buscar coincidencias en titulos_cre
    condition = (
        (titulos_its['carrera'] == row['carrera']) &
        (titulos_its['titulo'] == row['titulo_titulos']) &
        (titulos_its['institucion'] == row['institucion'])
    )
    
    # Reemplazar los valores en titulos_cre si hay coincidencias
    titulos_its.loc[condition, 'carrera'] = row['carrera_unificada']
    titulos_its.loc[condition, 'titulo'] = row['titulo_unificado']

# Puedes guardar el DataFrame actualizado en un archivo Excel o CSV si lo deseas
titulos_its.to_excel('titulos_its_actualizado.xlsx', index=False)
print("Archivo exportado: 'titulos_its_actualizado.xlsx'")

Archivo exportado: 'titulos_its_actualizado.xlsx'

# Segunda verificacion

In [694]:
import pandas as pd

# Crear copias de los DataFrames originales
titulos_its_copy = titulos_its.copy()
carreras_its_copy = carreras_its.copy()

# Renombrar la columna 'titulo' en cada copia para diferenciarlas
titulos_its_copy = titulos_its_copy.rename(columns={'titulo': 'titulo_titulos'})
carreras_its_copy = carreras_its_copy.rename(columns={'titulo': 'titulo_carrera'})

# Paso 1: Crear un DataFrame combinado que indica de dónde provienen las filas
merged_df = pd.merge(
    titulos_its_copy[['carrera', 'institucion', 'tipo_institucion', 'titulo_titulos']],
    carreras_its_copy[['carrera', 'institucion', 'tipo_institucion', 'titulo_carrera']],
    left_on=['carrera', 'institucion', 'tipo_institucion', 'titulo_titulos'],
    right_on=['carrera', 'institucion', 'tipo_institucion', 'titulo_carrera'],
    how='outer',
    indicator=True
)

# Paso 2: Filtrar las filas que están solo en uno de los DataFrames
not_matching = merged_df[merged_df['_merge'] != 'both']

# Paso 3: Exportar a Excel
not_matching.to_excel('valores_no_coincidentes_ITS.xlsx', index=False)
carreras_its_copy = carreras_its_copy.rename(columns={'institucion': 'institucion_carrera'})
carreras_its_copy = carreras_its_copy.rename(columns={'carrera': 'carrera_carreras'})
# Filtrar el DataFrame para obtener solo las filas donde _merge es 'left_only'
left_only = merged_df[merged_df['_merge'] == 'left_only']

# Imprimir el número de filas left_only
print("Número de filas left_only:", left_only.shape[0])

Número de filas left_only: 10963

# Union final ITS

In [734]:
import pandas as pd

# Paso 1: Eliminar duplicados en las columnas clave de carreras
df_merged_unique = carreras_its.drop_duplicates(
    subset=['carrera', 'institucion', 'tipo_institucion', 'titulo']
)

# Paso 2: Realizar el merge con las combinaciones únicas
merged_final_ITS = pd.merge(
    titulos_its, 
    df_merged_unique, 
    left_on=['carrera', 'institucion', 'tipo_institucion', 'titulo'], 
    right_on=['carrera', 'institucion', 'tipo_institucion', 'titulo'], 
    how='left'  # Aquí cambiamos a 'left' para mantener todas las filas de df_titulos_v2_limpio_CRE
)

# Paso 2: Guardar el DataFrame en un archivo Excel
merged_final_ITS.to_excel('ITS_FINAL.xlsx', index=False)
# Imprimir la forma y los encabezados de df_titulos_v2_limpio_CRE
print("Shape del DataFrame TITULOS V2:", titulos_its.shape)


# Imprimir la forma y los encabezados del DataFrame final
print("Shape del DataFrame final:", merged_final_ITS.shape)

Shape del DataFrame TITULOS V2: (32722, 10)
Shape del DataFrame final: (32722, 13)

# UNIVERSIDAD

In [534]:
print("Correcciones realizadas en titulos_u:")
print(titulos_u['institucion'].unique())  # Imprime los valores únicos para ver las correcciones

print("\nCorrecciones realizadas en carreras_u:")
print(carreras_u['institucion'].unique())  # Imprime los valores únicos para ver las correcciones

Correcciones realizadas en titulos_u:
['UNIVERSIDAD AUTONOMA DE ASUNCION' 'UNIVERSIDAD POLITECNICA Y ARTISTICA'
 'UNIVERSIDAD CATOLICA NUESTRA SENORA DE LA ASUNCION'
 'UNIVERSIDAD DEL SOL'
 'UNIVERSIDAD TECNICA DE COMERCIALIZACION Y DESARROLLO'
 'UNIVERSIDAD AUTONOMA SAN SEBASTIAN' 'UNIVERSIDAD CENTRAL DEL PARAGUAY'
 'UNIVERSIDAD AMERICANA' 'UNIVERSIDAD SUDAMERICANA'
 'UNIVERSIDAD DEL NORTE' 'UNIVERSIDAD INTERNACIONAL TRES FRONTERAS'
 'UNIVERSIDAD MARIA AUXILIADORA' 'UNIVERSIDAD DE DESARROLLO SUSTENTABLE'
 'UNIVERSIDAD SAN LORENZO' 'UNIVERSIDAD SANTA CLARA DE ASIS'
 'UNIVERSIDAD TECNOLOGICA INTERCONTINENTAL' 'UNIVERSIDAD NIHON GAKKO'
 'UNIVERSIDAD MARIA SERRANA' 'UNIVERSIDAD PRIVADA DEL ESTE'
 'UNIVERSIDAD DEL PACIFICO' 'UNIVERSIDAD INTERAMERICANA'
 'UNIVERSIDAD NACIONAL DEL ESTE' 'UNIVERSIDAD METROPOLITANA DE ASUNCION'
 'UNIVERSIDAD COLUMBIA DEL PARAGUAY' 'UNIVERSIDAD SAN CARLOS'
 'UNIVERSIDAD DE INTEGRACION DE LAS AMERICAS'
 'UNIVERSIDAD LEONARDO DA VINCI' 'UNIVERSIDAD GRAN ASUNCION'
 'UNIVERSIDAD IBEROAMERICANA' 'UNIVERSIDAD NACIONAL DE CONCEPCION'
 'UNIVERSIDAD AUTONOMA DEL PARAGUAY' 'UNIVERSIDAD AUTONOMA DEL SUR'
 'UNIVERSIDAD NACIONAL DE ASUNCION' 'UNIVERSIDAD PRIVADA DEL GUAIRA'
 'UNIVERSIDAD HISPANOGUARANI PARA EL DESARROLLO HUMANO'
 'UNIVERSIDAD DEL CONO SUR DE LAS AMERICAS' 'UNIVERSIDAD COMUNERA'
 'UNIVERSIDAD NACIONAL DE PILAR'
 'UNIVERSIDAD NACIONAL DE VILLARRICA DEL ESPIRITU SANTO'
 'UNIVERSIDAD AUTONOMA DE LUQUE' 'UNIVERSIDAD AUTONOMA DE ENCARNACION'
 'UNIVERSIDAD SAN IGNACIO DE LOYOLA' 'UNIVERSIDAD NACIONAL DE CAAGUAZU'
 'UNIVERSIDAD NACIONAL DE ITAPUA' 'UNIVERSIDAD LA PAZ'
 'CENTRO EDUCATIVO SUPERIOR EN SALUD' 'UNIVERSIDAD NORDESTE DEL PARAGUAY'
 'UNIVERSIDAD DEL CHACO' 'UNIVERSIDAD ADVENTISTA DEL PARAGUAY'
 'UNIVERSIDAD NACIONAL DE CANINDEYU' 'UNIVERSIDAD ESPANOLA'
 'UNIVERSIDAD PARAGUAYOALEMANA DE CIENCIAS APLICADAS'
 'UNIVERSIDAD POLITECNICA TAIWAN PARAGUAY']

Correcciones realizadas en carreras_u:
['UNIVERSIDAD DEL SOL' 'UNIVERSIDAD NACIONAL DE ASUNCION'
 'UNIVERSIDAD CATOLICA NUESTRA SENORA DE LA ASUNCION'
 'UNIVERSIDAD AUTONOMA DEL SUR' 'UNIVERSIDAD LEONARDO DA VINCI'
 'UNIVERSIDAD TECNOLOGICA INTERCONTINENTAL'
 'UNIVERSIDAD SAN IGNACIO DE LOYOLA'
 'UNIVERSIDAD DEL CONO SUR DE LAS AMERICAS' 'UNIVERSIDAD DEL NORTE'
 'UNIVERSIDAD PRIVADA DEL GUAIRA' 'UNIVERSIDAD NACIONAL DE CONCEPCION'
 'UNIVERSIDAD INTERNACIONAL TRES FRONTERAS' 'UNIVERSIDAD SAN LORENZO'
 'UNIVERSIDAD POLITECNICA Y ARTISTICA' 'UNIVERSIDAD NACIONAL DEL ESTE'
 'UNIVERSIDAD NIHON GAKKO' 'UNIVERSIDAD NACIONAL DE PILAR'
 'UNIVERSIDAD IBEROAMERICANA' 'UNIVERSIDAD EVANGELICA DEL PARAGUAY'
 'UNIVERSIDAD LA PAZ' 'UNIVERSIDAD DE INTEGRACION DE LAS AMERICAS'
 'UNIVERSIDAD AUTONOMA DEL PARAGUAY' 'UNIVERSIDAD AUTONOMA DE ENCARNACION'
 'UNIVERSIDAD SAN CARLOS' 'UNIVERSIDAD AUTONOMA SAN SEBASTIAN'
 'UNIVERSIDAD PRIVADA DEL ESTE' 'UNIVERSIDAD INTERAMERICANA'
 'UNIVERSIDAD DE DESARROLLO SUSTENTABLE'
 'UNIVERSIDAD AUTONOMA DE ASUNCION'
 'UNIVERSIDAD TECNICA DE COMERCIALIZACION Y DESARROLLO'
 'UNIVERSIDAD AMERICANA'
 'UNIVERSIDAD CATOLICA NUESTRA SENORA DE LA ASUNCION CAMPUS UNIVERSITARIO ALTO PARANA'
 'UNIVERSIDAD DEL PACIFICO' 'UNIVERSIDAD CENTRO MEDICO BAUTISTA'
 'UNIVERSIDAD NACIONAL DE ITAPUA' 'UNIVERSIDAD COLUMBIA DEL PARAGUAY'
 'UNIVERSIDAD DEL CHACO' 'UNIVERSIDAD ADVENTISTA DEL PARAGUAY'
 'UNIVERSIDAD COMUNERA' 'UNIVERSIDAD METROPOLITANA DE ASUNCION'
 'UNIVERSIDAD HISPANOGUARANI PARA EL DESARROLLO HUMANO'
 'UNIVERSIDAD NACIONAL DE VILLARRICA DEL ESPIRITU SANTO'
 'UNIVERSIDAD NACIONAL DE CAAGUAZU' 'UNIVERSIDAD CENTRAL DEL PARAGUAY'
 'UNIVERSIDAD NORDESTE DEL PARAGUAY' 'UNIVERSIDAD NACIONAL DE CANINDEYU'
 'UNIVERSIDAD GRAN ASUNCION' 'UNIVERSIDAD MARIA AUXILIADORA'
 'UNIVERSIDAD NACIONAL DE ASUNCION FACULTAD DE CIENCIAS MEDICAS'
 'UNIVERSIDAD SUDAMERICANA' 'UNIVERSIDAD JESUITA DEL PARAGUAY'
 'UNIVERSIDAD POLITECNICA TAIWAN PARAGUAY' 'UNIVERSIDAD MARIA SERRANA'
 'UNIVERSIDAD PARAGUAYOALEMANA DE CIENCIAS APLICADAS'
 'UNIVERSIDAD SUPERIOR HERNANDO ARIAS DE SAAVEDRA'
 'UNIVERSIDAD AUTONOMA DE LUQUE' 'UNIVERSIDAD ESPANOLA'
 'UNIVERSIDAD SANTA CLARA DE ASIS']

# INSTITUTOS QUE ESTAN EN UN SOLO LUGAR

In [536]:
# Valores únicos en 'titulos_cre'
instituciones_titulos = set(titulos_u['institucion'].unique())

# Valores únicos en 'carreras_cre'
instituciones_carreras = set(carreras_u['institucion'].unique())

# Instituciones que están en 'titulos_cre' pero no en 'carreras_cre'
solo_en_titulos = instituciones_titulos - instituciones_carreras
print("Instituciones que están solo en titulos_u:")
print(solo_en_titulos)

# Instituciones que están en 'carreras_cre' pero no en 'titulos_cre'
solo_en_carreras = instituciones_carreras - instituciones_titulos
print("\nInstituciones que están solo en carreras_u:")
print(solo_en_carreras)

Instituciones que están solo en titulos_u:
{'CENTRO EDUCATIVO SUPERIOR EN SALUD'}

Instituciones que están solo en carreras_u:
{'UNIVERSIDAD CENTRO MEDICO BAUTISTA', 'UNIVERSIDAD NACIONAL DE ASUNCION FACULTAD DE CIENCIAS MEDICAS', 'UNIVERSIDAD SUPERIOR HERNANDO ARIAS DE SAAVEDRA', 'UNIVERSIDAD JESUITA DEL PARAGUAY', 'UNIVERSIDAD EVANGELICA DEL PARAGUAY', 'UNIVERSIDAD CATOLICA NUESTRA SENORA DE LA ASUNCION CAMPUS UNIVERSITARIO ALTO PARANA'}

# campo amplio

In [697]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from tqdm import tqdm

# Concatenar los dataframes
df_combined = pd.concat([carreras_is, carreras_ifd, carreras_cre, carreras_its, carreras_u], ignore_index=True)

# Filtrar filas donde clasificacion_campo_amplio no esté vacío para entrenamiento
df_train = df_combined.dropna(subset=['clasificacion_campo_amplio'])

# Filtrar filas donde clasificacion_campo_amplio esté vacío para predicción
df_predict = df_combined[df_combined['clasificacion_campo_amplio'].isna()]

# Vectorización de la columna 'carrera' utilizando TF-IDF
vectorizer = TfidfVectorizer()
X_train = vectorizer.fit_transform(df_train['carrera'])
X_predict = vectorizer.transform(df_predict['carrera'])

# Definir el target
y_train = df_train['clasificacion_campo_amplio']

# División de los datos de entrenamiento para validación
X_train_split, X_val_split, y_train_split, y_val_split = train_test_split(X_train, y_train, test_size=0.2, random_state=42)

# Entrenar el modelo
model = LogisticRegression(max_iter=1000)
model.fit(X_train_split, y_train_split)

# Validar el modelo
y_val_pred = model.predict(X_val_split)
print("Reporte de clasificación para datos de validación:")
print(classification_report(y_val_split, y_val_pred, zero_division=0))

# Predecir los valores faltantes en df_merged_IS y añadir el asterisco
def predecir_y_marcar(row, model, vectorizer):
    if pd.isna(row['clasificacion_campo_amplio']):
        prediccion = model.predict(vectorizer.transform([row['carrera']]))[0]
        return f"{prediccion}*"
    else:
        return row['clasificacion_campo_amplio']

carreras_u['clasificacion_campo_amplio'] = carreras_u.apply(
    lambda row: predecir_y_marcar(row, model, vectorizer),
    axis=1
)

# Exportar el dataframe resultante a Excel
carreras_u.to_excel('carreras_u_actualizado.xlsx', index=False)

# Conteo de valores vacíos por columna después de la predicción
valores_vacios_post_prediccion = carreras_u.isna().sum()
print("Total de valores vacíos por columna después de la predicción:")
print(valores_vacios_post_prediccion)

Reporte de clasificación para datos de validación:
                                                      precision    recall  f1-score   support

                ADMINISTRACION DE EMPRESAS Y DERECHO       0.90      0.96      0.93       574
               ADMINISTRACION DE EMPRESAS Y DERECHO*       0.80      0.48      0.60        81
        AGRICULTURA SILVICULTURA PESCA Y VETERINARIA       0.98      0.88      0.93        58
                                 ARTES Y HUMANIDADES       0.98      0.83      0.90        54
                                ARTES Y HUMANIDADES*       1.00      0.67      0.80         3
        CIENCIAS NATURALES MATEMATICAS Y ESTADISTICA       0.97      0.74      0.84        38
          CIENCIAS SOCIALES PERIODISMO E INFORMACION       0.94      0.86      0.90        72
         CIENCIAS SOCIALES PERIODISMO E INFORMACION*       0.00      0.00      0.00         1
                                           EDUCACION       0.95      0.99      0.97      2345
                                          EDUCACION*       0.86      0.74      0.80       437
                                         EDUCACION**       0.91      0.64      0.75        33
                 INGENIERIA INDUSTRIA Y CONSTRUCCION       0.97      0.95      0.96       118
                INGENIERIA INDUSTRIA Y CONSTRUCCION*       1.00      0.97      0.98        29
               PROGRAMAS Y CERTIFICACIONES GENERICOS       0.86      0.67      0.75         9
              PROGRAMAS Y CERTIFICACIONES GENERICOS*       0.00      0.00      0.00         1
                                   SALUD Y BIENESTAR       0.97      0.98      0.98       895
                                  SALUD Y BIENESTAR*       1.00      0.58      0.74        12
                                           SERVICIOS       1.00      0.94      0.97        80
                                          SERVICIOS*       0.97      0.97      0.97        37
 TECNOLOGIAS DE LA INFORMACION Y LA COMUNICACION TIC       0.89      0.99      0.94        68
TECNOLOGIAS DE LA INFORMACION Y LA COMUNICACION TIC*       1.00      0.90      0.95        10

                                            accuracy                           0.94      4955
                                           macro avg       0.85      0.75      0.79      4955
                                        weighted avg       0.94      0.94      0.94      4955

Total de valores vacíos por columna después de la predicción:
tipo_institucion              0
institucion                   0
carrera                       0
titulo                        0
tipo_gestion                  0
nivel_titulacion              0
clasificacion_campo_amplio    0
dtype: int64

# verificar inconsistencias

In [713]:
import pandas as pd

# Crear copias de los DataFrames originales
titulos_u_copy = titulos_u.copy()
carreras_u_copy = carreras_u.copy()

# Renombrar la columna 'titulo' en cada copia para diferenciarlas
titulos_u_copy = titulos_u_copy.rename(columns={'titulo': 'titulo_titulos'})
carreras_u_copy = carreras_u_copy.rename(columns={'titulo': 'titulo_carrera'})

# Paso 1: Crear un DataFrame combinado que indica de dónde provienen las filas
merged_df = pd.merge(
    titulos_u_copy[['carrera', 'institucion', 'tipo_institucion', 'titulo_titulos']],
    carreras_u_copy[['carrera', 'institucion', 'tipo_institucion', 'titulo_carrera']],
    left_on=['carrera', 'institucion', 'tipo_institucion', 'titulo_titulos'],
    right_on=['carrera', 'institucion', 'tipo_institucion', 'titulo_carrera'],
    how='outer',
    indicator=True
)

# Paso 2: Filtrar las filas que están solo en uno de los DataFrames
not_matching = merged_df[merged_df['_merge'] != 'both']

# Paso 3: Exportar a Excel
not_matching.to_excel('valores_no_coincidentes_U.xlsx', index=False)
carreras_u_copy = carreras_u_copy.rename(columns={'institucion': 'institucion_carrera'})
carreras_u_copy = carreras_u_copy.rename(columns={'carrera': 'carrera_carreras'})

# Filtrar el DataFrame para obtener solo las filas donde _merge es 'left_only'
left_only = merged_df[merged_df['_merge'] == 'left_only']

# Imprimir el número de filas left_only
print("Número de filas left_only:", left_only.shape[0])

Número de filas left_only: 28493

# Limpieza de inconsistencias

In [742]:
import pandas as pd
from fuzzywuzzy import fuzz
from tqdm import tqdm  # Importar tqdm
# Lista de palabras clave que quieres analizar

keywords = [
    'CIENCIAS AMBIENTALES', 'CIENCIAS DE LA COMUNICACION','CIENCIAS DE LA EDUCACION', 
    'CIENCIAS INFORMATICAS','CIENCIAS ODONTOLOGICAS','CIENCIAS CONTABLES','DIDACTICA SUPERIOR','DIDACTICA UNIVERSITARIA','DOCENCIA UNIVERSITARIA',
    'EDUCACION','MATEMATICA','MEDICINA','METODOLOGIA','PSICOLOGIA','ODONTOLOGIA','RELACIONES PUBLICAS',
    'ADMINISTRACION', 'INGENIERIA', 'GESTION', 'CIENCIAS', 'TECNOLOGIA',
    'DIDACTICA', 'ENFASIS', 'MENCION','CIRUGIA','GERENCIA'
]

# Función para extraer la parte anterior y posterior a cualquier palabra clave
def extract_around_keywords(text, keywords):
    text_upper = text.upper()  # Convertir a mayúsculas para comparación
    for keyword in keywords:
        if keyword in text_upper:
            # Dividir el texto en la parte anterior y posterior a la palabra clave
            before, after = text_upper.split(keyword, 1)
            return before.strip(), after.strip()  # Devolver ambas partes
    return None, None  # Si no se encuentra ninguna palabra clave, devolver None para ambas partes

# Función para verificar palabras clave
def check_keywords(text1, text2):
    keywords2 = ['CIENCIAS SOCIALES', 'CIENCIAS NATURALES', 'CIENCIAS BASICAS', 'CIENCIAS DE LA EDUCACION','DIDACTICA UNIVERSITARIA',
                 'MARKETING Y PUBLICIDAD','FARMACIA','QUIMICA','ODONTOLOGIA','NEUMOLOGIA','GINECOLOGIA',
                  'SOCIAL', 'AGROPECUARIA', 'AGROPECUARIAS','ENFASIS', 'PROFUNDIZADO', 'RECONSTRUCTIVA',
                  'FISIOTERAPIA', 'KINESIOLOGIA', 'PSICOLOGIA', 'EDUCACION FISICA','DERECHO','METODOLOGIA']
    
    for keyword in keywords2:
        if keyword in text1 and keyword not in text2:
            return True
        if keyword in text2 and keyword not in text1:
            return True
    return False
# Función de coincidencia difusa optimizada para múltiples palabras clave 75
def fuzzy_unify(row, carreras_u, keywords, threshold=85):
    best_match = None
    best_score = 0

    # Filtrar las filas de carreras_u por institución y tipo de institución
    carreras_u_filtered = carreras_u[
        (carreras_u['institucion_carrera'] == row['institucion']) &
        (carreras_u['tipo_institucion'] == row['tipo_institucion'])
    ]

    # Inicializar las columnas para las coincidencias
    row['carrera_carreras'] = None
    row['titulo_carrera'] = None
    row['institucion_carrera'] = None

    for _, carrera_row in carreras_u_filtered.iterrows():
        # Extraer partes antes y después de palabras clave
        before_row_1, after_row_1 = extract_around_keywords(row['carrera'], keywords)
        before_row_2, after_row_2 = extract_around_keywords(carrera_row['carrera_carreras'], keywords)

        if before_row_1 is not None and after_row_1 is not None and before_row_2 is not None and after_row_2 is not None:  # Ambas tienen alguna palabra clave
            # Comparar tanto la parte antes como después de la palabra clave
            before_score = fuzz.ratio(before_row_1, before_row_2)
            after_score = fuzz.ratio(after_row_1, after_row_2)
            keyword_score = (before_score + after_score) / 2  # Promedio de ambas partes

            if keyword_score < 70:  # Si la parte antes o después de la palabra clave no es similar
                avg_score = 50  # Asignar un puntaje bajo
            else:
                carrera_score = fuzz.partial_ratio(row['carrera'], carrera_row['carrera_carreras'])
                titulo_score = fuzz.partial_ratio(row['titulo_titulos'], carrera_row['titulo_carrera'])
                avg_score = (carrera_score + titulo_score) / 2
        elif before_row_1 or before_row_2 or after_row_1 or after_row_2:  # Solo una de las partes tiene la palabra clave
            avg_score = 50  # Puntaje bajo
        else:
            carrera_score = fuzz.partial_ratio(row['carrera'], carrera_row['carrera_carreras'])
            titulo_score = fuzz.partial_ratio(row['titulo_titulos'], carrera_row['titulo_carrera'])
            avg_score = (carrera_score + titulo_score) / 2

        # Verificar palabras clave
        if check_keywords(row['carrera'], carrera_row['carrera_carreras']):
            avg_score *= 0.5  # Reducir el puntaje a la mitad si hay un desajuste en las palabras clave

        # Guardar la mejor coincidencia
        if avg_score > best_score:
            best_score = avg_score
            best_match = carrera_row

    # Si el mejor puntaje es suficiente, asignar la coincidencia
    if best_score >= threshold and best_match is not None:
        row['carrera_unificada'] = best_match['carrera_carreras']
        row['titulo_unificado'] = best_match['titulo_carrera']
        row['institucion_unificada'] = best_match['institucion_carrera']
        row['carrera_carreras'] = best_match['carrera_carreras']
        row['titulo_carrera'] = best_match['titulo_carrera']
        row['institucion_carrera'] = best_match['institucion_carrera']
    else:
        # Si no hay buena coincidencia, mantener los valores originales
        row['carrera_unificada'] = row['carrera']
        row['titulo_unificada'] = row['titulo_titulos']
        row['institucion_unificada'] = row['institucion']

    # Asignar el puntaje de similitud
    row['similarity_score'] = best_score
    return row


# Aplicar la coincidencia difusa con las palabras clave en el DataFrame
tqdm.pandas(desc="Procesando filas")  # Inicializar tqdm
left_only_unified = left_only.progress_apply(fuzzy_unify, args=(carreras_u_copy, keywords), axis=1)


# Seleccionar las columnas en el orden deseado para exportar a Excel
left_only_unified = left_only_unified[[
    'carrera',
    'carrera_carreras',
    'carrera_unificada', 
    'titulo_titulos',
    'titulo_carrera',
    'titulo_unificado',
    'institucion', 
    'institucion_carrera',
    'institucion_unificada',
    'similarity_score'
]]

# Exportar a un archivo Excel
left_only_unified.to_excel('unificacion_left_only_u.xlsx', index=False)
print("Archivo exportado: 'unificacion_left_only_u.xlsx'")

Procesando filas: 100%|██████████| 28493/28493 [10:40<00:00, 44.50it/s]

Archivo exportado: 'unificacion_left_only_u.xlsx'

# reemplazando campos

In [744]:
# Paso 1: Filtrar las filas de left_only_unified con un puntaje mayor o igual a 90
left_only_unified_filtered = left_only_unified[left_only_unified['similarity_score'] >= 90]

# Paso 2: Reemplazar los valores en titulos_cre
for _, row in left_only_unified_filtered.iterrows():
    # Buscar coincidencias en titulos_cre
    condition = (
        (titulos_u['carrera'] == row['carrera']) &
        (titulos_u['titulo'] == row['titulo_titulos']) &
        (titulos_u['institucion'] == row['institucion'])
    )
    
    # Reemplazar los valores en titulos_cre si hay coincidencias
    titulos_u.loc[condition, 'carrera'] = row['carrera_unificada']
    titulos_u.loc[condition, 'titulo'] = row['titulo_unificado']

# Puedes guardar el DataFrame actualizado en un archivo Excel o CSV si lo deseas
titulos_u.to_excel('titulos_u_actualizado.xlsx', index=False)
print("Archivo exportado: 'titulos_u_actualizado.xlsx'")

Archivo exportado: 'titulos_u_actualizado.xlsx'

# segunda verificacion

In [745]:
import pandas as pd

# Crear copias de los DataFrames originales
titulos_u_copy = titulos_u.copy()
carreras_u_copy = carreras_u.copy()

# Renombrar la columna 'titulo' en cada copia para diferenciarlas
titulos_u_copy = titulos_u_copy.rename(columns={'titulo': 'titulo_titulos'})
carreras_u_copy = carreras_u_copy.rename(columns={'titulo': 'titulo_carrera'})

# Paso 1: Crear un DataFrame combinado que indica de dónde provienen las filas
merged_df = pd.merge(
    titulos_u_copy[['carrera', 'institucion', 'tipo_institucion', 'titulo_titulos']],
    carreras_u_copy[['carrera', 'institucion', 'tipo_institucion', 'titulo_carrera']],
    left_on=['carrera', 'institucion', 'tipo_institucion', 'titulo_titulos'],
    right_on=['carrera', 'institucion', 'tipo_institucion', 'titulo_carrera'],
    how='outer',
    indicator=True
)

# Paso 2: Filtrar las filas que están solo en uno de los DataFrames
not_matching = merged_df[merged_df['_merge'] != 'both']

# Paso 3: Exportar a Excel
not_matching.to_excel('valores_no_coincidentes_U.xlsx', index=False)
carreras_u_copy = carreras_u_copy.rename(columns={'institucion': 'institucion_carrera'})
carreras_u_copy = carreras_u_copy.rename(columns={'carrera': 'carrera_carreras'})

# Filtrar el DataFrame para obtener solo las filas donde _merge es 'left_only'
left_only = merged_df[merged_df['_merge'] == 'left_only']

# Imprimir el número de filas left_only
print("Número de filas left_only:", left_only.shape[0])

Número de filas left_only: 14056

# Union final U

In [748]:
import pandas as pd

# Paso 1: Eliminar duplicados en las columnas clave de carreras
df_merged_unique = carreras_u.drop_duplicates(
    subset=['carrera', 'institucion', 'tipo_institucion', 'titulo']
)

# Paso 2: Realizar el merge con las combinaciones únicas
merged_final_U = pd.merge(
    titulos_u, 
    df_merged_unique, 
    left_on=['carrera', 'institucion', 'tipo_institucion', 'titulo'], 
    right_on=['carrera', 'institucion', 'tipo_institucion', 'titulo'], 
    how='left'  # Aquí cambiamos a 'left' para mantener todas las filas de df_titulos_v2_limpio_CRE
)

# Paso 2: Guardar el DataFrame en un archivo Excel
merged_final_U.to_excel('U_FINAL.xlsx', index=False)
# Imprimir la forma y los encabezados de df_titulos_v2_limpio_CRE
print("Shape del DataFrame TITULOS V2:", titulos_u.shape)


# Imprimir la forma y los encabezados del DataFrame final
print("Shape del DataFrame final:", merged_final_U.shape)

Shape del DataFrame TITULOS V2: (380393, 10)
Shape del DataFrame final: (380393, 13)

# Union final dataset

In [749]:
import pandas as pd
from tqdm import tqdm

# Supongamos que ya tienes los DataFrames definidos:
# merged_final_U, merged_final_CRE, merged_final_IS, merged_final_IFD, merged_final_ITS

# Concatenar los DataFrames
merged_final_combinado = pd.concat([
    merged_final_U,
    merged_final_CRE,
    merged_final_IS,
    merged_final_IFD,
    merged_final_ITS
], ignore_index=True)

# Usar tqdm para mostrar una barra de progreso al exportar a Excel
with tqdm(total=1, desc="Exportando a Excel") as pbar:
    # Exportar a un archivo Excel
    merged_final_combinado.to_excel('DATASET_FINAL.xlsx', index=False)
    pbar.update(1)  # Actualizar la barra de progreso

print("Archivo exportado: 'DATASET_FINAL.xlsx'")

Exportando a Excel: 100%|██████████| 1/1 [04:20<00:00, 260.83s/it]

Archivo exportado: 'DATASET_FINAL.xlsx'